

RewriteEngine on

RewriteCond %{HTTP_HOST} ^arthabeauty\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.arthabeauty\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.arthabeauty\.bg$
RewriteRule ^(.*)$ "https\:\/\/arthabeauty\.bg\/$1" [R=301,L]

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [L,R=301]


ErrorDocument 404 /messages/100

RewriteRule ^feed.csv /site/feed.php [L]

RewriteRule ^sitemap-cats.xml 		/site/sitemap-pages.php [L]
RewriteRule ^sitemap-products.xml /site/sitemap-products.php [L]
RewriteRule ^sitemap-blog.xml 		/site/sitemap-blog.php [L]
RewriteRule ^fb-products.csv /site/fb-products.php [L]
RewriteRule ^specheli-podaryk-ot-arthabeauty /site/specheli-podaryk-ot-arthabeauty.html [L]
RewriteRule ^obshti-uslovia /site/obshti-uslovia.html [L]
RewriteRule ^otkrii-skritia-produkt-fb /site/otkrii-skritia-produkt-fb.html [L]
RewriteRule ^fb-obshti-uslovia-otkrii-skritia-produkt /site/obshti-uslovia-otkrii-skritia-produkt-fb.html [L]
RewriteRule ^otkrii-skritia-produkt-ig /site/otkrii-skritia-produkt-ig.html [L]
RewriteRule ^ig-obshti-uslovia-otkrii-skritia-produkt /site/obshti-uslovia-otkrii-skritia-produkt-ig.html [L]
RewriteRule ^igra-s-nagradi /site/igra-s-nagradi.html [L]
RewriteRule ^isn-obshti-uslovia-igra-s-nagradi /site/obshti-uslovia-igra-s-nagradi.html [L]
RewriteRule ^ou-kakvo-iska-da-ti-kaje /site/obshti-uslovia-kakvo-iska-da-ti-kaje.html [L]
RewriteRule ^kakvo-iska-da-ti-kaje-tvoqta-koja /site/kakvo-iska-da-ti-kaje.html [L]
RewriteRule ^registratsia-quiz /site/registratsia-quiz.html [L]
RewriteRule ^izberi-si-podaryk-za-sv-valentin /site/izberi-si-podaryk-za-sv-valentin.html [L]
RewriteRule ^svv-ou-izberi-si-podaryk-za-sv-valentin /site/svv-ou-izberi-si-podaryk-za-sv-valentin.html [L]
RewriteRule ^otpraznuvai-krasotata-si /site/otpraznuvai-krasotata-si.html [L]
RewriteRule ^omou-otpraznuvai-krasotata-si /site/omou-otpraznuvai-krasotata-si.html [L]
RewriteRule ^s1aujcc5smy5fdfaxdwtxjwr0dhv7w.html /site/s1aujcc5smy5fdfaxdwtxjwr0dhv7w.html [L]


RewriteRule ^(.*)\.css(.*) /site/$1.css$2 [L]
RewriteRule ^(.*)\.woff(.*) /site/$1.woff$2 [L]
RewriteRule ^(.*)\.woff2(.*) /site/$1.woff2$2 [L]
RewriteRule ^(.*)\.eot(.*) /site/$1.eot$2 [L]
RewriteRule ^(.*)\.otf(.*) /site/$1.otf$2 [L]
RewriteRule ^(.*)\.svg(.*) /site/$1.svg$2 [L]
RewriteRule ^(.*)\.ttf(.*) /site/$1.ttf$2 [L]

RewriteRule ^images/(.*) 	/images/$1 [L]
RewriteRule ^(.*)\.json(.*) 	$1.json$2 [L]
RewriteRule ^(.*)\.php(.*) 	$1.php$2 [L]
RewriteRule ^(.*)\.txt(.*) 	$1.txt$2 [L]
RewriteRule ^sitemap-bg.xml$ /site/index.php?param=sitemap&lang=bg [L]
RewriteRule ^sitemap-ro.xml$ /site/index.php?param=sitemap&lang=ro [L]
RewriteRule ^(.*)\.xml(.*) 	$1.xml$2 [L]
RewriteRule ^(.*)\.html(.*) 	$1.html$2 [L]
RewriteRule ^info(.*)/(.*) 	/site/index.php?param=info&id=$2&lang=$1 [L]
RewriteRule ^producten/(.*) 		/productbg/$1 [R=301,L]
RewriteRule ^product(.*)/(.*) 		/site/index.php?param=show-product&lang=$1&id=$2&old_link=1 [L]
RewriteRule ^download-product-file(.*)/(.*)/(.*) 		/site/index.php?param=download-product-file&lang=$1&doc=$2&product_id=$3 [L]
RewriteRule ^download-info-file(.*)/(.*)/(.*) 		/site/index.php?param=download-info-file&lang=$1&file=$2&info_id=$3 [L]
RewriteRule ^add-to-cart(.*)/(.*)/$ 	/site/index.php?param=add-to-cart&product_id=$2&lang=$1 [L]
RewriteRule ^cart(.*)/remove/(.*) 		/site/index.php?param=cart-remove-product&lang=$1&id=$2 [L]
RewriteRule ^cart(.*)/$ 		/site/index.php?param=cart&lang=$1 [L]
RewriteRule ^checkout-final(.*)/$	/site/index.php?param=checkout-final&lang=$1 [L]
RewriteRule ^checkout(.*)/$     /site/index.php?param=checkout&lang=$1 [L]
RewriteRule ^edit-address-page(.*)/(.*)/$     /site/index.php?param=edit-address-page&lang=$1&id=$2 [L]
RewriteRule ^myorders(.*)/(.*)/$     /site/index.php?param=myorders&lang=$1&id=$2 [L]
RewriteRule ^myorders(.*)$     /site/index.php?param=myorders&lang=$1 [L]
RewriteRule ^order-rating(.*)/(.*)/(.*)     /site/index.php?param=order-rating&lang=$1&cart_id=$2&rating_hash=$3 [L]

RewriteRule ^show-news(.*)/(.*) 	/site/index.php?param=news&id=$2&lang=$1 [L]
RewriteRule ^newslist(.*)/(.*)/page/(.*) 	/site/index.php?param=news_categories&lang=$1&id=$2&page=$3 [L]
RewriteRule ^newslist(.*)/(.*) 	/site/index.php?param=news_categories&lang=$1&id=$2 [L]

RewriteRule ^categories(.*)/(.*)/price-asc/page-(.*)$	/site/index.php?param=categories&lang=$1&id=$2&sort_by=price-asc&old_link=1&page=$3 [L]
RewriteRule ^categories(.*)/(.*)/price-desc/page-(.*)$	/site/index.php?param=categories&lang=$1&id=$2&sort_by=price-desc&old_link=1&page=$3 [L]
RewriteRule ^categories(.*)/(.*)/postdate-asc/page-(.*)$	/site/index.php?param=categories&lang=$1&id=$2&sort_by=postdate-asc&old_link=1&page=$3 [L]
RewriteRule ^categories(.*)/(.*)/postdate-desc/page-(.*)$	/site/index.php?param=categories&lang=$1&id=$2&sort_by=postdate-desc&old_link=1&page=$3 [L]
RewriteRule ^categories(.*)/(.*)/page-(.*)$             /site/index.php?param=categories&lang=$1&id=$2&page=$3 [L]
RewriteRule ^categories(.*)/(.*)/price-asc$             /site/index.php?param=categories&lang=$1&id=$2&sort_by=price-asc&old_link=1 [L]
RewriteRule ^categories(.*)/(.*)/price-desc$            /site/index.php?param=categories&lang=$1&id=$2&sort_by=price-desc&old_link=1 [L]
RewriteRule ^categories(.*)/(.*)/postdate-asc$          /site/index.php?param=categories&lang=$1&id=$2&sort_by=postdate-asc&old_link=1 [L]
RewriteRule ^categories(.*)/(.*)/postdate-desc$         /site/index.php?param=categories&lang=$1&id=$2&sort_by=postdate-desc&old_link=1 [L]
RewriteRule ^categories(.*)/(.*)$                       /site/index.php?param=categories&lang=$1&id=$2&old_link=1 [L]

RewriteRule ^offers(.*)/page-(.*)$             /site/index.php?param=offers&lang=$1&page=$2 [L]
RewriteRule ^offers(.*)$                       /site/index.php?param=offers&lang=$1 [L]

RewriteRule ^favourites(.*)/page-(.*)$                  /site/index.php?param=favourites&lang=$1&page=$2 [L]
RewriteRule ^favourites(.*)$                            /site/index.php?param=favourites&lang=$1 [L]

RewriteRule ^quiz(.*)$                                  /site/index.php?param=quiz&lang=$1 [L]

RewriteRule ^catalogue(.*)/(.*)/price-asc/page-(.*)$	/site/index.php?param=category-types&lang=$1&id=$2&sort_by_price=asc&old_link=1&page=$3 [L]
RewriteRule ^catalogue(.*)/(.*)/price-desc/page-(.*)$	/site/index.php?param=category-types&lang=$1&id=$2&sort_by_price=desc&old_link=1&page=$3 [L]
RewriteRule ^catalogue(.*)/(.*)/page-(.*)$              /site/index.php?param=category-types&lang=$1&id=$2&page=$3&old_link=1 [L] [L]
RewriteRule ^catalogue(.*)/(.*)/price-asc$              /site/index.php?param=category-types&lang=$1&id=$2&sort_by_price=asc&old_link=1 [L]
RewriteRule ^catalogue(.*)/(.*)/price-desc$             /site/index.php?param=category-types&lang=$1&id=$2&sort_by_price=desc&old_link=1 [L]
RewriteRule ^catalogue(.*)/(.*)                         /site/index.php?param=category-types&lang=$1&id=$2&old_link=1 [L]

RewriteRule ^contact-to-categoryro/(.*)$		/site/index.php?param=contact-to-category&lang=ro&id=$1&old_link=1 [L]
RewriteRule ^contact-to-categorybg/(.*)$		/site/index.php?param=contact-to-category&lang=bg&id=$1&old_link=1 [L]
RewriteRule ^contact-to-categoryen/(.*)$		/site/index.php?param=contact-to-category&lang=en&id=$1&old_link=1 [L]
RewriteRule ^blog$               /site/index.php?param=blog&lang=$1 [L]
#RewriteRule ^blog(.*)/(.*)           /site/index.php?param=blog&lang=$1 [L]
RewriteRule ^news(.*)/page-(.*) 	/site/index.php?param=news&lang=$1&page=$2 [L]
RewriteRule ^news(.*)/(.*)          /site/index.php?param=news&lang=$1 [L]
RewriteRule ^email-customers-profiles/(.*)/(.*)$		/site/index.php?param=email-customers-profiles&category_id=$1&city_id=$2 [L]
RewriteRule ^download-ticket/(.*) 	/site/index.php?param=download-ticket&id=$1 [L]
RewriteRule ^download-customer-file/(.*) 	/site/index.php?param=customerDownloadFile&file_name=$1 [L]
RewriteRule ^wp-content/(.*)	/old/wp-content/$1 [L]
RewriteRule ^/old/(.*)	/old/$1 [L]
#RewriteRule ^search/(.*) /site/index.php?param=search&search_string=$1 [L]
RewriteRule ^get-chosen-customers /site/index.php [L]
RewriteRule ^guest-list-ajax-demo$ /site/index.php [L]
RewriteRule ^guest-list-ajax$ /site/index.php [L]
#RewriteRule ^register /site/index.php?param=register [L]
#RewriteRule ^register-proceed /site/index.php [L]
#RewriteRule ^login-proceed /site/index.php [L]
#RewriteRule ^login-proceed /site/index.php [L]
RewriteRule ^redirectto /site/index.php [L]
RewriteRule ^specialoffer(.*)/(.*)/print /site/index.php?param=special-offer-print&id=$2&lang=$1 [L]
RewriteRule ^specialoffer(.*)/(.*) /site/index.php?param=special-offer&id=$2&lang=$1 [L]
RewriteRule ^offers/inbox/offer/(.*) /site/index.php?param=offers-inbox-offer&id=$1 [L]
RewriteRule ^offers/inbox/request/(.*)/download-file/(.*) /site/index.php?param=offers-inbox-request-download&id=$1&file=$2 [L]
RewriteRule ^offers/inbox/request/(.*)/phone /site/index.php?param=offers-inbox-request&id=$1&show_phone=1 [L]
RewriteRule ^offers/inbox/request/(.*) /site/index.php?param=offers-inbox-request&id=$1 [L]
RewriteRule ^add-remote-gift/(.*) /site/index.php?param=add-remote-gift&$1 [L]
RewriteRule ^messages(.*)/(.*) /site/index.php?param=messages&lang=$1&message_code=$2 [L]
RewriteRule ^brands(.*)     /site/index.php?param=brands&lang=$1 [L]
RewriteRule ^marki$     /site/index.php?param=brands&lang=$1 [L]
RewriteRule ^brand(.*)/(.*) /site/index.php?param=brand&lang=$1&brand_id=$2&old_link=1 [L]
RewriteRule ^collection(.*)/(.*) /site/index.php?param=collection&lang=$1&collection_id=$2 [L]

RewriteRule ^searchbg$ /site/index.php [L]
RewriteRule ^searchen$ /site/index.php [L]
RewriteRule ^searchde$ /site/index.php [L]
RewriteRule ^searchru$ /site/index.php [L]
RewriteRule ^searchro$ /site/index.php [L]
RewriteRule ^advanced-search$ /site/index.php [L]
RewriteRule ^tag(.*)/(.*) /site/index.php?param=search&lang=$1&search_string=$2 [L]
RewriteRule ^rate-offer/(.*)/(.*)/(.*)/stars/(.*) /site/index.php?param=rate-offer-stars&request_id=$1&offer_id=$2&hash=$3&comment_rating=$4 [L]
RewriteRule ^rate-offer/(.*)/(.*)/(.*) /site/index.php?param=rate-offer&request_id=$1&offer_id=$2&hash=$3 [L]
RewriteRule ^us/(.*) /site/index.php?param=us&htaccess_url=$1 [L]
RewriteRule ^ro/(.*) /site/index.php?param=$1&lang=ro&param=$1 [L]
RewriteRule ^en/(.*)$ /site/index.php?param=$1&lang=en&param=$1 [L]
RewriteRule ^en$ /site/index.php?param=$1&lang=en [L]
RewriteRule ^ro/(.*) /site/index.php?param=$1&lang=ro&param=$1 [L]
RewriteRule ^facebook-group/page/(.*)$ 	/site/index.php?param=facebook-group&limit=10&page=$1 [L]
RewriteRule ^unsubscribe-customers-profiles/(.*)$ 	/site/index.php?param=unsubscribe-customers-profiles&email=$1 [L]
RewriteRule ^unsubscribe-news/(.*)$ 	/site/index.php?param=unsubscribe-news&email=$1 [L]

RewriteRule ^(.*)/price-asc/page-(.*)$ /site/index.php?param=$1&sort_by=price-asc&page=$2 [L]
RewriteRule ^(.*)/price-desc/page-(.*)$ /site/index.php?param=$1&sort_by=price-desc&page=$2 [L]
RewriteRule ^(.*)/postdate-asc/page-(.*)$ /site/index.php?param=$1&sort_by=postdate-asc&page=$2 [L]
RewriteRule ^(.*)/postdate-desc/page-(.*)$ /site/index.php?param=$1&sort_by=postdate-desc&page=$2 [L]
RewriteRule ^(.*)/price-asc /site/index.php?param=$1&sort_by=price-asc [L]
RewriteRule ^(.*)/price-desc /site/index.php?param=$1&sort_by=price-desc [L]
RewriteRule ^(.*)/postdate-asc /site/index.php?param=$1&sort_by=postdate-asc [L]
RewriteRule ^(.*)/postdate-desc /site/index.php?param=$1&sort_by=postdate-desc [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*) /site/index.php?param=$1 [L]
