{include file="header.html"}
<div class="page-heading" style="background-image:url('files/customheader.png')">
	<div class="page-heading-container-holder">
		<div class="page-heading-container">
			<h1>{#heading_forgot_password#}</h1>
		</div>
    </div>
</div>
<div class="container ">
    <div class="row">
        <div class="x-XL-col inside">
            {$forgot_password.description}
			<div class="clear"></div>
			<br />
			<form method="post" action="/forgot-password-proceed" name="forgotPasswordForm" id="forgotPasswordForm">
				<div class="form-container row">
					<div class="fieldContainer center">
						{#register_email#}{$star}:
						<input type="text" name="email" class="required" />
					</div>
					
					<div class="fieldContainer center">
						<input type="hidden" name="param" value="forgot-password-proceed" />
						<input type="submit" value="{#send#}" id="buttonRegister" name="buttonRegister" />
					</div>
					{literal}
						<script>
							$(document).ready(function(){
								//$("#buttonShowLogin").trigger("click");
								$("#buttonRegister").bind("click", function(){
									errors = 0;
									$("#forgotPasswordForm input").removeClass("errorField");
									$("#forgotPasswordForm input").each(function(e, i){
										if ( $(this).hasClass("required") ){
																						
											if ( $(this).val().trim() == "" ){
												errors++;
												$(this).addClass("errorField");
											}
											
											if ( $(this).attr("name") == "email" && checkEmailAddress($(this).val()) == false){
												errors++;
												$(this).addClass("errorField");
											}
										}
									});
									
									if ( errors == 0 ){
										document.forgotPasswordForm.submit();
									}else{
										return false;
									}
								});
							});
						</script>
					{/literal}
				</div>
			</form>
			
        </div>
{include file="footer.html"}