{include file="admin/header.html"}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb p-0">
        <li class="breadcrumb-item">
            <a href="./index.php">
                <span class="mdi mdi-home"></span>                
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="./{$php_self}">{#cities#}</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">{$page_heading}</li>
    </ol>
</nav>
    
<div class="row d-flex flex-row justify-content-between flex-wrap mb-3">
    <span class="col">
        <a href="{$php_edit}?act=add" class="btn btn-primary btn-add"><i class="mdi mdi-book-multiple-plus"></i>{#add_new#}</a>
    </span>
    <div class="col d-flex flex-row justify-content-between flex-wrap">
        <form action="#" method="get" class="d-block w-100">
            <div class="form-row">
                <div class="col form-group">
                    <input type="text" class="form-control" name="name" {if $name}value="{$name}"{/if} placeholder="{#name#}">
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                    
                    <input type="submit" class="form-control btn btn-primary" name="Filter" value="{#filter#}">
                </div> <!-- form-group end.// -->
            </div> <!-- form-row end.// -->
        </form>
    </div>
</div>

<!-- List Table -->
<div class="card card-table-border-none" id="recent-orders">
    <div class="card-header justify-content-between">
        <h2>{#list_elements#}</h2>
        {*<div class="date-range-report ">
            <span></span>
        </div>*}
    </div>
    <div class="card-body pt-0 pb-5">
        <script>
            $(document).ready(function () {
                $("#sortTable0").sortable({
                    "axis": "y",
                    stop: function () {
                        var commonData = $(this).attr("name");
                        var items = $("#sortTable0 tr");
                        var params = "";

                        $.each(items, function (i) {
                            params += "&items[]=" + i + "@@_@@" + $(this).attr("name");
                            //if(items[i+1]) params += "&";
                        });
                        $.ajax({
                            type: "POST",
                            url: "move.php",
                            data: "commonData=" + commonData + "&" + params
                        });
                    }
                });
            })
        </script>
        <form name="formName" action="{$php_self}" method="post">
            <table class="table card-table table-responsive table-responsive-large" style="width:100%">
                <thead>
                    <tr class="d-flex thSmall">
                        <th class="col-sm-1">{*<input name="checkbox" type="checkbox" value="" class="checkall-task">*}</th>
                        <th class="col-sm-7">{#name#}</th>
                        <th class="col-sm-2">{#status#}</th>
                        <th class="col-sm-2 text-right pr-2">{#actions#}</th>
                    </tr>
                </thead>
                <tbody id="sortTable0" name="cities_table">
                    {section name=itm loop=$items}
                        <tr name="{$items[itm].id}" class="d-flex">
                            <td class="col-sm-1 p-0">
                                <input name="ids[]" type="checkbox" value="{$items[itm].id}">
                            </td>
                            <td class="col-sm-7 p-0">
                                <a class="text-dark" href="{$php_edit}?act=edit&id={$items[itm].id}"><small>{$items[itm].name}</small></a>
                            </td>
                            <td class="col-sm-2 py-0 px-1">
                                {if $items[itm].active}
                                    <span class="btn btn-success">{#active#}</span>
                                {else}
                                    <span class="btn btn-danger">{#inactive#}</span>
                                {/if}
                            </td>
                            <td class="col-sm-2 text-right p-0">
                                <div class="dropdown show d-inline-block widget-dropdown">
                                    <a class="dropdown-toggle icon-burger-mini" href="" role="button" id="dropdown-recent-order1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"></a>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order1">
                                        <li class="dropdown-item">
                                            <a href="{$php_edit}?act=edit&id={$items[itm].id}"><i class="mdi mdi-square-edit-outline"></i>{#edit#}</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a href="{$php_self}?act=delete&id={$items[itm].id}"><i class="mdi mdi-delete-outline"></i>{#delete#}</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {/section}
                </tbody>
            </table>
            {*<input type="submit" class="submitField btn btn-danger" name="mDelete" value="{#delete_selected#}">*}
        </form>
        <nav aria-label="Page navigation">
            <ul class="pagination flex-wrap">
                {$pagination}
            </ul>
        </nav>
    </div>
</div>


{include file="admin/footer.html"}