{include file="admin/header.html"}
    <ul class="breadcrumb">
      <li><a href="dashboard.php">{#home_breadcrumbs#}</a><span class="divider">&raquo;</span></li>
      <li class="active">{#dashboard#}</li>
    </ul>
    <div class="dashboard-widget">
      <div class="row-fluid">
        <div class="col-sm-2">
          <div class="dashboard-wid-wrap">
            <div class="dashboard-wid-content"> <a href="dashboard.php"> <i class="dashboard-icons-colors graphic_design_sl"></i> <span class="dasboard-icon-title">{#dashboard#}</span> </a> </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="dashboard-wid-wrap">
            <div class="dashboard-wid-content"> <a href="menus.php"> <i class="dashboard-icons-colors category_sl"></i> <span class="dasboard-icon-title">{#menus#}</span> </a> </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="dashboard-wid-wrap">
            <div class="dashboard-wid-content"> <a href="news.php"> <i class="dashboard-icons-colors calendar_sl"></i> <span class="dasboard-icon-title">{#news#}</span> </a> </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="dashboard-wid-wrap">
            <div class="dashboard-wid-content"> <a href="news_categories.php"> <i class="dashboard-icons-colors sitemap_sl"></i> <span class="dasboard-icon-title">{#news_categories#}</span> </a> </div>
          </div>
        </div>
		<div class="col-sm-2">
          <div class="dashboard-wid-wrap">
            <div class="dashboard-wid-content"> <a href="words.php"> <i class="dashboard-icons-colors administrative_docs_sl"></i> <span class="dasboard-icon-title">{#words#}</span> </a> </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="dashboard-wid-wrap">
            <div class="dashboard-wid-content"> <a href="users_admin.php"> <i class="dashboard-icons-colors customers_sl"></i> <span class="dasboard-icon-title">{#users_admin#}</span> </a> </div>
          </div>
        </div>
      </div>
    </div>
    </div>
	{include file="admin/footer.html"}