<!DOCTYPE html>
<html lang="bg">
    <head>
        <title>Artha Beauty online shop</title>
        <meta charset=utf-8>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="assets/bootstrap_4_3_1/css/bootstrap.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
        <link id="sleek-css" rel="stylesheet" href="assets/css/sleek.css" />
    </head>
    <body>
        <div class="login-container">
            <div class="wrapper fadeInDown">
                <div id="formContent">
                    <!-- Tabs Titles -->
                    
                    <!-- Icon -->
                    <div class="fadeIn first">
                        <img src="assets/img/logo.png" alt="Logo">
                        <h1>Вход</h1>
                    </div>
                    
                    <!-- Login Form -->
                    <form method="post" action="login.php">
                        <input type="text" id="email" class="fadeIn second" name="username" placeholder="username">
                        <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
                        <input type="submit" class="fadeIn fourth" id="adminLogin" value="{#login#}">
                    </form>
                    
                    <!-- Remind Passowrd -->
                    <div id="formFooter">
                        <a class="underlineHover" href="https://www.arthabeauty.com">Go to the Site</a>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <!-- Bootstrap core JavaScript -->
        <script src="assets/plugins/jquery/jquery.min.js"></script>
        <script src="assets/bootstrap_4_3_1/js/bootstrap.bundle.min.js"></script>
    </body>
</html>