				<div class="d-flex flex-column">
					<hr><h5>Meta Title</h5><hr>
					<div class="row d-flex flex-row justify-content-between flex-wrap">
                        <div class="control-group col-sm-3">
                            <label class="control-label" for="meta_title_bg">Български: </label>
                            <div class="controls">
                                <textarea class="inputField form-control" name="meta_title_bg" id="meta_title_bg">{$row.meta_title_bg}</textarea>
                            </div>
                        </div>
                        <div class="control-group col-sm-3">
                            <label class="control-label" for="meta_title_en">Английски: </label>
                            <div class="controls">
                                <textarea class="inputField form-control" name="meta_title_en" id="meta_title_en">{$row.meta_title_en}</textarea>
                            </div>
                        </div>
                        <div class="control-group col-sm-3">
                            <label class="control-label" for="meta_title_de">Немски: </label>
                            <div class="controls">
                                <textarea class="inputField form-control" name="meta_title_de" id="meta_title_de">{$row.meta_title_de}</textarea>
                            </div>
                        </div>
                        <div class="control-group col-sm-3">
                            <label class="control-label" for="meta_title_ro">Румънски: </label>
                            <div class="controls">
                                <textarea class="inputField form-control" name="meta_title_ro" id="meta_title_ro">{$row.meta_title_ro}</textarea>
                            </div>
                        </div>
                        <div class="control-group col-sm-3">
                            <label class="control-label" for="meta_title_ru">Руски: </label>
                            <div class="controls">
                                <textarea class="inputField form-control" name="meta_title_ru" id="meta_title_ru">{$row.meta_title_ru}</textarea>
                            </div>
                        </div>
					</div>
					<hr><h5>Meta Keywords</h5><hr>
					<div class="row d-flex flex-row justify-content-between flex-wrap">
                        <div class="control-group col-sm-3">
                            <label class="control-label" for="meta_keywords_bg">Български: </label>
                            <div class="controls">
                                <textarea class="inputField form-control" name="meta_keywords_bg" id="meta_keywords_bg">{$row.meta_keywords_bg}</textarea>
                            </div>
                        </div>
                        <div class="control-group col-sm-3">
                            <label class="control-label" for="meta_keywords_en">Английски: </label>
                            <div class="controls">
                                <textarea class="inputField form-control" name="meta_keywords_en" id="meta_keywords_en">{$row.meta_keywords_en}</textarea>
                            </div>
                        </div>
                        <div class="control-group col-sm-3">
                            <label class="control-label" for="meta_keywords_de">Немски: </label>
                            <div class="controls">
                                <textarea class="inputField form-control" name="meta_keywords_de" id="meta_keywords_de">{$row.meta_keywords_de}</textarea>
                            </div>
                        </div>
                        <div class="control-group col-sm-3">
                            <label class="control-label" for="meta_keywords_ro">Румънски: </label>
                            <div class="controls">
                                <textarea class="inputField form-control" name="meta_keywords_ro" id="meta_keywords_ro">{$row.meta_keywords_ro}</textarea>
                            </div>
                        </div>
                        <div class="control-group col-sm-3">
                            <label class="control-label" for="meta_keywords_ru">Руски: </label>
                            <div class="controls">
                                <textarea class="inputField form-control" name="meta_keywords_ru" id="meta_keywords_ru">{$row.meta_keywords_ru}</textarea>
                            </div>
                        </div>
					</div>
                    <hr><h5>Meta Description</h5><hr>
					<div class="row d-flex flex-row justify-content-between flex-wrap">
                        <div class="control-group col-sm-3">
                            <label class="control-label" for="meta_description_bg">Български: </label>
                            <div class="controls">
                                <textarea class="inputField form-control" name="meta_description_bg" id="meta_description_bg">{$row.meta_description_bg}</textarea>
                            </div>
                        </div>
                        <div class="control-group col-sm-3">
                            <label class="control-label" for="meta_description_en">Английски: </label>
                            <div class="controls">
                                <textarea class="inputField form-control" name="meta_description_en" id="meta_description_en">{$row.meta_description_en}</textarea>
                            </div>
                        </div>
                        <div class="control-group col-sm-3">
                            <label class="control-label" for="meta_description_de">Немски: </label>
                            <div class="controls">
                                <textarea class="inputField form-control" name="meta_description_de" id="meta_description_de">{$row.meta_description_de}</textarea>
                            </div>
                        </div>
                        <div class="control-group col-sm-3">
                            <label class="control-label" for="meta_description_ro">Румънски: </label>
                            <div class="controls">
                                <textarea class="inputField form-control" name="meta_description_ro" id="meta_description_ro">{$row.meta_description_ro}</textarea>
                            </div>
                        </div>
                        <div class="control-group col-sm-3">
                            <label class="control-label" for="meta_description_ru">Руски: </label>
                            <div class="controls">
                                <textarea class="inputField form-control" name="meta_description_ru" id="meta_description_ru">{$row.meta_description_ru}</textarea>
                            </div>
                        </div>
					</div>
                    <hr><h5>Meta Metatags</h5><hr>
					<div class="row d-flex flex-row justify-content-between flex-wrap">
                        <div class="control-group col-sm-3">
                            <label class="control-label" for="meta_metatags_bg">Български: </label>
                            <div class="controls">
                                <textarea class="inputField form-control" name="meta_metatags_bg" id="meta_metatags_bg">{$row.meta_metatags_bg}</textarea>
                            </div>
                        </div>
                        <div class="control-group col-sm-3">
                            <label class="control-label" for="meta_metatags_en">Английски: </label>
                            <div class="controls">
                                <textarea class="inputField form-control" name="meta_metatags_en" id="meta_metatags_en">{$row.meta_metatags_en}</textarea>
                            </div>
                        </div>
                        <div class="control-group col-sm-3">
                            <label class="control-label" for="meta_metatags_de">Немски: </label>
                            <div class="controls">
                                <textarea class="inputField form-control" name="meta_metatags_de" id="meta_metatags_de">{$row.meta_metatags_de}</textarea>
                            </div>
                        </div>
                        <div class="control-group col-sm-3">
                            <label class="control-label" for="meta_metatags_ro">Румънски: </label>
                            <div class="controls">
                                <textarea class="inputField form-control" name="meta_metatags_ro" id="meta_metatags_ro">{$row.meta_metatags_ro}</textarea>
                            </div>
                        </div>
                        <div class="control-group col-sm-3">
                            <label class="control-label" for="meta_metatags_ru">Руски: </label>
                            <div class="controls">
                                <textarea class="inputField form-control" name="meta_metatags_ru" id="meta_metatags_ru">{$row.meta_metatags_ru}</textarea>
                            </div>
                        </div>
					</div>
				</div>