	{include file="admin/header.html"}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb p-0">
        <li class="breadcrumb-item">
            <a href="./index.php">
                <span class="mdi mdi-home"></span>                
            </a>
        </li>
        <li class="breadcrumb-item" aria-current="page">{$page_heading}</li>
    </ol>
</nav>

<div class="d-flex flex-row justify-content-between flex-wrap">
    <form action="#" method="get">
        <div class="form-row">
			<div class="col form-group">
                <label>{#barcode#}</label>
                <input type="text" class="form-control form-control-sm" name="barcode" {if $barcode}value="{$barcode}"{/if} placeholder="{#barcode#}">
            </div>
		</div>
		<div class="form-row">
            <div class="col form-group">
				<input type='hidden' placeholder="Моля, започнете да пишете Име на продукт. Резултати ще се появят при въвеждането на повече от 3 символа"  class='select2'  data-primary='products' name="product_id" style="min-width: 100%;"/>
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
				<link href="{$host}js/select2.css" rel="stylesheet" />
				<script src="{$host}js/select2.min.js"></script>
				<script src="{$host}lang/select2_locale_bg.js"></script>
				<script type="text/javascript">
						var pageID = {$id};
						var selected_product = {if $product_id}{$product_id}{else}0{/if};
						var relDom = 'product';
					{literal}
					var jq1113 = jQuery.noConflict(true);
					jq1113(document).ready(function () {
						jq1113(".select2").each(function (index) {
							var apiURL = '/admin/' + jq1113(this).attr('data-primary') + 'API.php';
							attachSelect(jq1113(this), apiURL)
						});
					});

					function attachSelect(elem, apiURL) {
						elem.select2({
							ajax: {// Зарежда JSON от API страницата и го прехвърля във формат за selec2  
								url: apiURL + "?id=" + pageID + "&secondary=" + relDom,
								dataType: 'json',
								delay: 250,
								data: function (params) {
									//console.log(params);
									//console.log(apiURL+"?id=" + pageID+"&secondary="+relDom);
									return {
										search: params
									};
								},
								processResults: function (data, page) {
									return {
										results: jq1113.map(data, function (item) {
											return {
												text: item.name,
												id: item.id
											}
										})
									};
								},
								cache: true
							},
							multiple: false,
							escapeMarkup: function (markup) {
								return markup;
							}, // let our custom formatter work
							initSelection: function (element, callback) {
								jq1113.ajax(apiURL + "?selected=" + pageID + "&secondary=" + relDom+"&selected_product="+selected_product, {// Добавя избраните полета
									dataType: 'json'
								}).done(function (data) {
									data = jq1113.map(data, function (item) {// Преформатира за Select2
										return {
											text: item.name,
											id: item.id
										}
									});
									callback(data);
								});
							},
							minimumInputLength: 3,
							language: "bg"
						}).select2('val', []);//PatchyFix
					}

					{/literal}
				</script>
			</div>
        </div>
        <div class="form-row row">
            {section name=os loop=$order_statuses}
				<div class="col checkbox col-sm-3">
					<label> <input type="checkbox" class="orderStatusesCheckbox" name="order_statuses_selected[]" value="{$order_statuses[os].id}" {$order_statuses[os].selected}> {$order_statuses[os].name} </label>
				</div>
            {/section}
        </div>
        <div class="form-row"> 
            <div class="col checkbox col-sm-3">
					<label> <input type="checkbox" name="not_finalised" value="1" {if $not_finalised}checked{/if}> Нефинализирани </label>
            </div>
			
			<div class="col form-group">
                <select class="form-control" name="brand_id">
					<option value="">{#brands#}</option>
					{section name=b loop=$brands}
						<option value="{$brands[b].id}" {if $brands[b].id == $brand_id}selected{/if}>{$brands[b].name}</option>
					{/section}
				</select>
            </div> <!-- form-group end.// -->
            <div class="col input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"><i class="fas fa-calendar"></i></span>
				</div>
                <input type="text" name="date_from" id="date_from" class="form-control" value="{$date_from}" placeholder="От" autocomplete="off">
            </div>
            <div class="col input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"><i class="fas fa-calendar"></i></span>
				</div>
				<input type="text" name="date_to" id="date_to" class="form-control" value="{$date_to}" placeholder="До" autocomplete="off">
				<script>
					  $( function() {
						var dateFormat = "dd/mm/yy",
						  from = $( "#date_from" )
							.datepicker({
							  defaultDate: "+1w",
							  changeMonth: true,
							  changeYear: true,
							  dateFormat: dateFormat,
							  numberOfMonths: 1
							})
							.on( "change", function() {
							  to.datepicker( "option", "minDate", getDate( this ) );
							}),
						  to = $( "#date_to" ).datepicker({
							defaultDate: "+1w",
							changeMonth: true,
							changeYear: true,
							dateFormat: dateFormat,
							numberOfMonths: 1
						  })
						  .on( "change", function() {
							from.datepicker( "option", "maxDate", getDate( this ) );
						  });
					 
						function getDate( element ) {
						  var date;
						  try {
							date = $.datepicker.parseDate( dateFormat, element.value );
						  } catch( error ) {
							date = null;
						  }
					 
						  return date;
						}
					  } );
				</script>
            </div>
            <div class="col form-group">
                <input type="submit" class="form-control btn btn-primary btn-sm" name="Filter" value="{#filter#}">
                
            </div>
        </div>
				<br />
                <a href="csv_gen_report.php?{$qqSStr}" target="_blank" class="btn btn-success mr-5">Изтегли CSV файл продукти</a>
                
								<a href="csv_gen_report_cart.php?{$qqSStr}" target="_blank" class="btn btn-success">Изтегли CSV файл поръчки</a>
                <br /><br />
    </form>
            
    <script>
        $(document).ready(function () {
            $('.checkAll:button').toggle(function () {
                $('.orderStatusesCheckbox').attr('checked', 'checked');
                $(this).val('Демаркирай всички');
            }, function () {
                $('.orderStatusesCheckbox').removeAttr('checked');
                $(this).val('Маркирай всички');
            })
        });
    </script>
</div>

<!-- List Table -->
<div class="card card-table-border-none" id="recent-orders">
    <div class="card-header justify-content-between">
        <h2>{#list_elements#}</h2>
        <div class="date-range-report2">
            <span>{$date_from} - {$date_to}</span>
        </div>
    </div>
    <div class="card-body pt-0 pb-5">
        <table class="table card-table table-responsive table-responsive-large" style="width:100%">
            <thead>
                <tr class="d-flex thSmall">
                    <th class="col-sm-1">пр. ID</th>
                    <th class="col-sm-2 text-center">{#barcode#}</th>
                    <th class="col-sm-5 text-center">{#product#}</th>
                    <th class="col-sm-2 text-right">{#price#} (лв)</th>
                    <th class="col-sm-1 text-right">Брой</th>
                    <th class="col-sm-1 text-right pr-2">Цена (лв)</th>
                </tr>
            </thead>
            <tbody>
                {section name=itm loop=$items}
                    <tr name="{$items[itm].product_id}" class="d-flex border-bottom">
                        <td class="col-sm-1 p-0 border-right">
                            <strong>{$items[itm].product_id}</strong>
                        </td>
                        <td class="col-sm-2 p-0 text-center border-right">
                            <small>{if $items[itm].variant_code}{$items[itm].variant_code}{else}{$items[itm].barcode}{/if}</small>
                        </td>
                        <td class="col-sm-5 p-0 text-left border-right">
                        		<p><small>{$items[itm].brand_name}</small></p>
                        		<p><small>{$items[itm].coll_name}</small></p>
                            <p><small>{$items[itm].name_en}</small></p>
                            <p><small>{$items[itm].name_bg}</small></p>
                            {if $items[itm].option_text}
                            <p><small>({$items[itm].option_text})</small></p>
                            {/if}
                        </td>
                        <td class="col-sm-2 p-0 pr-1 border-right">
                            <p class="text-right">{if $items[itm].variant_price > 0}{$items[itm].variant_price}{else}{$items[itm].price}{/if}</p>
                            <p class="text-right text-danger"><small>{if $items[itm].variant_price_supply > 0}{$items[itm].variant_price_supply}{else}{$items[itm].price_supply}{/if}</small></p>
                            <p class="text-right text-primary"><small>{if $items[itm].variant_price_profit > 0}{$items[itm].variant_price_profit}{else}{$items[itm].price_profit}{/if}</small></p>
                        </td>
                        <td class="col-sm-1 p-0 text-center border-right">
                            <p>{$items[itm].product_quantity}</p>
                        </td>
                        <td class="col-sm-1 p-0 text-right">
                            <p>{$items[itm].price_total}</p>
                        </td>
                    </tr>
                {/section}
                <tr class="d-flex border-bottom">
                    <td class="col-sm-1 p-0 border-right">
                        
                    </td>
                    <td class="col-sm-2 p-0 border-right">
                        
                    </td>
                    <td class="col-sm-5 p-0 border-right">
                        
                    </td>
                    <td class="col-sm-2 p-0 border-right">
                        
                    </td>
                    <td class="col-sm-1 p-0 text-center border-right">
                        <p>{$productsCount}</p>
                    </td>
                    <td class="col-sm-1 p-0 text-right">
                        <p>{$productsTotalPrice|number_format: 2}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pagesHolder size12 paging_full_numbers">
        {$pagination}
    </div>
</div>

{include file="admin/footer.html"}