{include file="header.html"}

<div class="breadcrumbsContainer">
    <div class="container">
        <div class="breadcrubsRow">
            {$breadcrumbs}
        </div>
    </div>
</div>

<div class="catBackgroundGradient">
    <div class="cartWrapper">
        <div class="container">
            <div class="leftColumn">
                {if $cart}
                {if $total_amount < 79}
                    <div class="alert alert-warning">{#cart_free_delivery_1#} <b>{number_format((79-$total_amount), 2, ".", "0")}{$currency_abb}</b> {#cart_free_delivery_2#}</div>
                {/if}
                <div class="myCartWrapper{if !$suggestedProducts} mt-0{/if}">
                    <div class="topRow">
                        <span class="title">{#my_cart#}</span>
                        <span class="subtitle"><span id="cartProductsQuantityTitle">{$cart_items}</span> {#products_count#}</span>
                    </div>
                    <div class="itemsList">
                        <form name="cartForm" id="cartForm" method="post" action="/{#htaccess_cart#}/">
                            <ul class="products">
                                {section name=c loop=$cart}
                                <li>
                                    <div class="product">
                                        <div class="productImage" style="background-image: url({if $cart[c].pic}/files/tntn/{$cart[c].pic}{else}/images/noImage.png{/if});"></div>
                                        <div class="productInfo">
                                            <div class="prodName">{$cart[c].product_name} {if $cart[c].product_code}({#code#}: {$cart[c].product_code}){/if}</div>
                                            {if $cart[c].option.id}
                                            <span class="prodSubName">
                                                {if $cart[c].option.option_group_name}
                                                    {$cart[c].option.option_group_name}:
                                                {/if}
                                                {$cart[c].option.name}
                                            </span>
                                            {/if}
                                            <span class="d-flex flex-row justify-content-start">
                                                {if $cart[c].product_price_discount > 0.0 && $cart[c].product_price_discount != $cart[c].product_price}
                                                <span class="oldPrice">{if $abb_before_amount}{$currency_abb}{/if}{$cart[c].product_price|number_format:2} {if !$abb_before_amount}{$currency_abb}{/if}</span>
                                                {/if}
                                                <span class="prodPrice" id="price{$cart[c].product_id}{$cart[c].option.id}">
                                                    {if $cart[c].product_price_discount > 0.0 && $cart[c].product_price_discount != $cart[c].product_price}
                                                        {if $abb_before_amount}{$currency_abb}{/if}{$cart[c].product_price_discount|number_format:2} {if !$abb_before_amount}{$currency_abb}{/if}
                                                    {else}
                                                        {if $abb_before_amount}{$currency_abb}{/if}{$cart[c].product_price|number_format:2} {if !$abb_before_amount}{$currency_abb}{/if}
                                                    {/if}
                                                </span>
                                            </span>
                                            <div class="actionsRow">
                                                <select name="quantity{$cart[c].product_id}{$cart[c].option.id}" id="quantity{$cart[c].product_id}{$cart[c].option.id}" class="prodQuantityCart">
                                                    <option value="1" {if $cart[c].quantity == 1}selected{/if}>1</option>
                                                    <option value="2" {if $cart[c].quantity == 2}selected{/if}>2</option>
                                                    <option value="3" {if $cart[c].quantity == 3}selected{/if}>3</option>
                                                    <option value="4" {if $cart[c].quantity == 4}selected{/if}>4</option>
                                                    <option value="5" {if $cart[c].quantity == 5}selected{/if}>5</option>
                                                    <option value="6" {if $cart[c].quantity == 6}selected{/if}>6</option>
                                                </select>
                                                <script>
                                                $('.prodQuantityCart').change(function () {
                                                    $("button[name=updateCart]").trigger("click");
                                                });
                                                </script>
                                                {*<a class="add2FavoritesList" href=""><img src="/images/hearth-green-btn.svg" alt="">Премести в любими</a>*}
                                            </div>
                                        </div>
                                        <div class="deleteBtnCol">
                                            <a href="/{#htaccess_cart#}/remove/{$cart[c].id}" class="delete removeButton" data-id="{$cart[c].product_id}" data-name="{$cart[c].product_name}" data-brand="" data-cat="" data-q="{$cart[c].quantity}" data-price="{if $cart[c].product_price_discount > 0.0 && $cart[c].product_price_discount != $cart[c].product_price}{$cart[c].product_price_discount|number_format:2}{else}{$cart[c].product_price|number_format:2}{/if}"><img src="/images/icon-x.svg" alt=""></a>
                                        </div>
                                    </div>
                                </li>
                                {/section}
                            </ul>
                        </form>
                    </div>
                    <div class="optionsRow">
                        {*<div class="option">
                            <div class="iconHolder"><img src="/images/icon-truck.png" alt=""></div>
                            <span class="optionText">Безплатна Доставка</span>
                        </div>*}
                        <div class="option">
                            <div class="iconHolder"><img src="/images/icon-star.png" alt=""></div>
                            <span class="optionText">{#sign_first_class_products#}</span>
                        </div>
                        <div class="option">
                            <div class="iconHolder"><img src="/images/icon-shield.png" alt=""></div>
                            <span class="optionText">{#secure_online_shopping#}</span>
                        </div>
                    </div>
                </div>
                {/if}
                {if $suggestedProducts}
                <div class="suggested2box">
                    <span class="title">{#cart_suggested_products#}</span>
                    <div class="slider">
                        <div id="suggestedItems" class="itemsRow removeBefore">
                            {section name=sp loop=$suggestedProducts}
                            <div class="singleItem">
                                <a class="product" href="{if $suggestedProducts[sp].htaccess_url}{$suggestedProducts[sp].htaccess_url}{else}/{#htaccess_product#}/{$suggestedProducts[sp].id}{/if}">
                                    <div class="imgContainer" style="background-image: url({if $suggestedProducts[sp].mainPic}/files/tn/{$suggestedProducts[sp].mainPic}{else}/images/noImage.png{/if});"></div>
                                </a>
                                <div class="info">
                                    <div class="prodName">{$suggestedProducts[sp].name}</div>
                                    <!-- rating-wrap -->
                                    <div class="rating-wrap">
                                        <div class="starsRow" id="rating-suggested-{$suggestedProducts[sp].id}"></div>
                                    </div> <!-- rating-wrap.// -->
                                    <script>
                                        $(document).ready(function () {
                                            $.fn.raty.defaults.path = '/js/raty/img';
                                            $('#rating-suggested-{$suggestedProducts[sp].id}').raty({
                                                readOnly:  true,
                                                starType:    'png', // Element used to represent a star.
                                                starHalf:    'star-half.png', // The name of the half star image.
                                                starOff:     'star-off.png',  // Name of the star image off.
                                                starOn:      'star-on.png',   // Name of the star image on.
                                                half:  true,
                                                start: parseFloat({$suggestedProducts[sp].rating})
                                            });
                                        });
                                    </script>
                                    <div class="btnContainer">
                                        <a class="addBtn" href="{if $suggestedProducts[sp].htaccess_url}{$suggestedProducts[sp].htaccess_url}{else}/{#htaccess_product#}/{$suggestedProducts[sp].id}{/if}"><img src="/images/add-to-cart-icon.svg" alt="add to cart">{#add#}</a>
                                    </div>
                                </div>
                            </div>
                            {/section}
                        </div>
                    </div>
                </div>
                {/if}
            </div>
            <script src="/js/jquery.sticky-kit.min.js"></script>
            <script>
                $(document).ready(function () {
                    $("#orderWrapper").stick_in_parent({
                        {*sticky_class: "mt-90",*}
                        offset_top: 90
                    });
                });
            </script>
            <div class="rightColumn">
                <div class="orderWrapper" id="orderWrapper">
                    <div class="order">
                        <span class="title">{#your_order#}</span>
                        <div class="orderRow" id="cartProductsAmountCont" style="display: none;">
                            <span class="left">{#amount#}</span>
                            <span class="right" id="cartProductsAmount">{if $abb_before_amount}<span class="currency">{$currency_abb}</span>{/if}<span class="num">{$total_amount}</span>{if !$abb_before_amount}<span class="currency">&nbsp;{$currency_abb}</span>{/if}</span>
                        </div>
                        <div class="orderRow" id="cartProductsPromoDiscountCont" style="display: none;">
                            <span class="left">{#discount_promo_code#}:</span>
                            <span class="right" id="cartProductsPromoDiscount"></span>
                        </div>
                        <div class="totalContainer cartTotalContainer" id="totalContainer">
                            <div class="orderRow">
                                <span class="left">{#subtotal_amount#}</span>
                                <span class="right" id="cartProductsAmountTotal">{if $abb_before_amount}{$currency_abb}{/if}{$total_amount} {if !$abb_before_amount}{$currency_abb}{/if}</span>
                            </div>
                            <div class="orderRow">
                                <span class="left">{#cart_delivery#}</span>
                                <span class="right" id="cartProductsAmountTotalDel">{if $abb_before_amount}{$currency_abb}{/if}{if $total_amount < 79}4.00{else}0.00{/if} {if !$abb_before_amount}{$currency_abb}{/if}</span>
                            </div>
                            <div class="promoCodeForm">
                                <div class="inputField">
                                    <input type="text" name="promo_code_number" id="promo_code_number" placeholder="{#if_promo_code#}" autocomplete="off">
                                </div>
                                <div class="btnHolder">
                                    <button class="promoBtn" id="applyPromo">{#apply#}</button>
                                </div>
                            </div>
                            <div>
                                <div class="errorMessage mt-2 alert alert-warning" id="promo_codeError">{#invalid_promo_code_number#}</div>
                                <div class="successMessage mt-2 alert alert-success" id="promo_codeSuccess"></div>
                            </div>
                            <script>
                                $("#applyPromo").click(function(){
                                    $("#promo_codeError").hide();
                                    var code = $("#promo_code_number").val();
                                    var total_amount = $("#cartProductsAmount .num").html();
                                    $.ajax({
                                        type: "POST",
                                        url: "/apply-promocode",
                                        data: {
                                            "code": code,
                                            "total_amount": total_amount
                                        },
                                        dataType: "json",
                                        success: function (response) {
                                            console.log(response);
                                            if(response.code == 200){
                                                $("#promo_codeError").hide();
                                                $("#promo_codeError").html("");
                                                
                                                $("#cartProductsAmount .num").html(total_amount);
                                                $("#cartProductsPromoDiscount").html("{if $abb_before_amount}{$currency_abb}{/if}-"+response.discount_amount+" {if !$abb_before_amount}{$currency_abb}{/if}");
                                                $("#cartProductsAmountTotal").html("{if $abb_before_amount}{$currency_abb}{/if}"+response.total_amount_disconted.toFixed(2)+" {if !$abb_before_amount}{$currency_abb}{/if}");
                                                if(response.total_amount_disconted.toFixed(2) < 79){
                                                	$("#cartProductsAmountTotalDel").html("{if $abb_before_amount}{$currency_abb}{/if}4.00 {if !$abb_before_amount}{$currency_abb}{/if}");
                                                }
                                                else{
                                                	$("#cartProductsAmountTotalDel").html("{if $abb_before_amount}{$currency_abb}{/if}0.00 {if !$abb_before_amount}{$currency_abb}{/if}");
                                                }
                                                
                                                $("#cartProductsAmountCont").slideDown();
                                                $("#cartProductsPromoDiscountCont").slideDown();
                                                $("#totalContainer").removeClass("cartTotalContainer");
                                                
                                                $("#promo_codeSuccess").html(response.name + "<br>" + response.message);
                                                $("#promo_codeSuccess").show();
                                            }else{
                                                $("#cartProductsAmount .num").html(total_amount);
                                                $("#cartProductsPromoDiscount").html("");
                                                $("#cartProductsAmountTotal").html("{if $abb_before_amount}{$currency_abb}{/if}"+total_amount+" {if !$abb_before_amount}{$currency_abb}{/if}");
                                                if(total_amount < 79){
                                                	$("#cartProductsAmountTotalDel").html("{if $abb_before_amount}{$currency_abb}{/if}4.00 {if !$abb_before_amount}{$currency_abb}{/if}");
                                                }
                                                else{
                                                	$("#cartProductsAmountTotalDel").html("{if $abb_before_amount}{$currency_abb}{/if}0.00 {if !$abb_before_amount}{$currency_abb}{/if}");
                                                }
                                                
                                                $("#cartProductsAmountCont").slideUp();
                                                $("#cartProductsPromoDiscountCont").slideUp();
                                                $("#totalContainer").addClass("cartTotalContainer");

                                                let errorCodes = [400, 401, 402, 403];

                                                if(errorCodes.includes(response.code)){
                                                    $("#promo_codeSuccess").hide();
                                                    $("#promo_codeSuccess").html("");
                                                    $("#promo_codeError").html(response.message);
                                                    $("#promo_codeError").show();
                                                }
                                            }
                                        },
                                        error: function(er){
                                            //console.log(er);
                                        }
                                    });
                                });
                            </script>
                        </div>
                        <div class="actionsContainer">
                            <input form="cartForm" type="hidden" name="lang" value="{$lng}">
                            <button form="cartForm" type="submit" name="updateCart"  class="btn btn-outline-primary" style="display: none;">{#update_cart#}</button>
                            <button form="cartForm" type="submit" name="gotoCheckout" value="{#checkout#}" class="orderBtn" href="">{#checkout#}</button>
                            <a class="keepShoppingBtn" href="/">{#continue_shopping#}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                            
{if $user}
<div class="favouritesProductsContainer">
    <div class="container">
        <a href="/{#htaccess_favourites#}"><h2 class="title">{#favourites#}</h2></a>
        <div class="productsRow">
            {section name=fp loop=$favouriteProducts}
            <div class="singleItem">
                <a class="product" href="{if $favouriteProducts[fp].htaccess_url}{$favouriteProducts[fp].htaccess_url}{else}/{#htaccess_product#}/{$favouriteProducts[fp].id}{/if}">
                    <div class="imgContainer" style="background-image: url({if $favouriteProducts[fp].mainPic}/files/tn/{$favouriteProducts[fp].mainPic}{else}/images/noImage.png{/if});"></div>
                    <h3 class="name">{$favouriteProducts[fp].brand_name}</h3>
                    {if $lng != "en"}<span class="excerpt">{$favouriteProducts[fp].name_en}</span>{/if}
                    <span class="excerpt">{$favouriteProducts[fp].name}</span>
                     {if $favouriteProducts[fp].price_specialoffer > 0.0}
                        <span class="d-flex flex-row justify-content-around">
                            <span class="price">{if $abb_before_amount}{$currency_abb}{/if}{$favouriteProducts[fp].price_specialoffer|number_format: 2} {if !$abb_before_amount}{$currency_abb}{/if}</span>
                            <del class="price-old">{if $abb_before_amount}{$currency_abb}{/if}{$favouriteProducts[fp].price|number_format: 2} {if !$abb_before_amount}{$currency_abb}{/if}</del>
                        </span>
                    {elseif $favouriteProducts[fp].price > 0.0}
                        <span class="price">{if $abb_before_amount}{$currency_abb}{/if}{$favouriteProducts[fp].price|number_format: 2} {if !$abb_before_amount}{$currency_abb}{/if}</span>
                    {/if}
                </a>
                <!-- rating-wrap -->
                    <div class="rating-wrap">
                        <div class="starsRow" id="rating-{$favouriteProducts[fp].id}"></div>
                    </div> <!-- rating-wrap.// -->
                    <script>
                        $(document).ready(function () {
                            $.fn.raty.defaults.path = '/js/raty/img';
                            $('#rating-{$favouriteProducts[fp].id}').raty({
                                readOnly:  true,
                                starType:    'png', // Element used to represent a star.
                                starHalf:    'star-half.png', // The name of the half star image.
                                starOff:     'star-off.png',  // Name of the star image off.
                                starOn:      'star-on.png',   // Name of the star image on.
                                half:  true,
                                start: parseFloat({$favouriteProducts[fp].rating})
                           });
                        });
                    </script>
                <div class="add2CartHolder">
                    <a class="add2CartBtn" href="{if $favouriteProducts[fp].htaccess_url}{$favouriteProducts[fp].htaccess_url}{else}/{#htaccess_product#}/{$favouriteProducts[fp].id}{/if}"><img src="/images/add-to-cart-green-icon.svg" alt="add to cart">{#add#}</a>
                </div>
            </div>
            {/section}
        </div>
    </div>
</div>
{/if}

<script>
    $("button[name=updateCart]").click(function(ev){
        ev.preventDefault();
        $.ajax({
            type: "POST",
            url: "/update-cart",
            data: $("#cartForm").serialize(),
            dataType: "json",
            success: function(res){
                if (res.error) {
                    swal({
                        title: res.message,
                        type: "warning"
                    })

                    $('select#'+res.id).val(res.available)
                    $('select#'+res.id).trigger('change')
                } else {
                    $("#cartProductsPromoDiscount").html("");
                    $("#cartProductsPromoDiscountCont").slideUp();

                    $("#cartProductsAmountCont .right .num").html("");
                    $("#cartProductsAmountCont").slideUp();
                    $("#promo_codeError").hide();
                    $("#promo_codeSuccess").hide();
                    $("#totalContainer").addClass("cartTotalContainer");
                    if(res.code == 1){
                        var totalQuantity = 0;
                        var totalAmount = 0;
                        $.each(res.products, function (index, value) {
                            totalQuantity += value.quantity;
                            totalAmount += value.product_price_total;
                            $("#quantity"+value.product_id).val(value.quantity);
                            var option_id = value.option_id > 0 ? value.option_id.toString() : "";
                            //console.log("option_id: ", option_id)
                            //$("#priceTotalOld"+value.product_id+option_id).html(((parseFloat(value.product_price))*(parseInt(value.quantity))).toFixed(2));
                            //$("#priceTotal"+value.product_id+option_id).html((value.product_price_total).toFixed(2));
                        });
                        $("#cartProductsAmount .num").html(totalAmount.toFixed(2));
                        $("#cartProductsAmountTotal").html("{if $abb_before_amount}{$currency_abb}{/if}"+totalAmount.toFixed(2)+" {if !$abb_before_amount}{$currency_abb}{/if}");
                        if(totalAmount.toFixed(2) < 79){
                            $("#cartProductsAmountTotalDel").html("{if $abb_before_amount}{$currency_abb}{/if}4.00 {if !$abb_before_amount}{$currency_abb}{/if}");
                        }
                        else{
                            $("#cartProductsAmountTotalDel").html("{if $abb_before_amount}{$currency_abb}{/if}0.00 {if !$abb_before_amount}{$currency_abb}{/if}");
                        }
                        $("#cartProductsQuantityTop").html(totalQuantity);
                        $("#cartProductsQuantityTopMobile").html(totalQuantity);
                        $("#cartProductsQuantityTitle").html(totalQuantity);
                        //$("#cartProductsAmountTop").html(totalAmount.toFixed(2));
                    }
                }
            },
            error: function(er){
                //console.log(er);
            }
        });
    });
    
    function addCommas(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{literal}{3}{/literal})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

    var speed = 0;
    var scroll = 0;
    var container = $('#suggestedItems');
    var container_w = container.width();
{*    var max_scroll = container[0].scrollWidth - container.outerWidth();*}
    var max_scroll = container.scrollWidth - container.outerWidth();

    container.on('mousemove', function (e) {
        var mouse_x = e.pageX - container.offset().left;
        var mouseperc = 100 * mouse_x / container_w;
        speed = mouseperc - 50;
    }).on('mouseleave', function () {
        speed = 0;
    });

    function updatescroll() {
        if (speed !== 0) {
            scroll += speed / 5;
            if (scroll < 0)
                scroll = 0;
            if (scroll > max_scroll)
                scroll = max_scroll;
            $('#suggestedItems').scrollLeft(scroll);
        }
        $("#speed").html('Speed: ' + speed);
        $("#scroll").html('Scroll: ' + scroll);

        if (scroll > 0) {
            $("#suggestedItems").addClass("addBefore");
        } else {
            $("#suggestedItems").removeClass("addBefore");
        }
        if (scroll >= max_scroll) {
            $("#suggestedItems").addClass("removeAfter");
        } else {
            $("#suggestedItems").removeClass("removeAfter");
        }
        window.requestAnimationFrame(updatescroll);
    }
    window.requestAnimationFrame(updatescroll);

    $(document).ready(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 300,
            step: 1,
            slide: function (event, ui) {
                $("#min-price").html(addCommas(ui.values[ 0 ]));

                suffix = '';
                if (ui.values[ 1 ] == $("#max-price").data('max')) {
                    suffix = ' +';
                }
                $("#max-price").html(addCommas(ui.values[ 1 ] + suffix));
            }
        });

        $('#playBtn').on('click', function (ev) {
            $(this).parent().next("iframe")[0].src += "&autoplay=1";
            $(this).parent().hide();
            ev.preventDefault();
        });


        $('#slickSlider1').slick({
            slidesToShow: 8,
            autoplay: true,
            autoplaySpeed: 2000,
            infinite: true,
            speed: 2000,
            centerMode: true,
            slidesToScroll: 8,
            responsive: [
                {
                    breakpoint: 1780,
                    settings: {
                        slidesToShow: 7,
                        slidesToScroll: 7,
                    }
                },
                {
                    breakpoint: 1600,
                    settings: {
                        slidesToShow: 6,
                        slidesToScroll: 6,
                    }
                },
                {
                    breakpoint: 1400,
                    settings: {
                        slidesToShow: 5,
                        slidesToScroll: 5,
                    }
                },
                {
                    breakpoint: 1200,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 4,
                    }
                },
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 4,
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
        
        $('.prodQuantityCart').select2({
            minimumResultsForSearch: -1,
            placeholder: "К-во",
        });
        
        $(".removeButton").click(function(ev){
            ev.preventDefault();
            var link = $(this).attr("href");
            swal({
                title: "{#are_you_sure#}",
                text: "{#delete_cart_product#}",
                type: "warning",
                showCancelButton: true,
                cancelButtonText: "{#no_back_to_cart#}",
                confirmButtonColor: "#312783",
                confirmButtonText: "{#yes_delete_it#}",
                closeOnConfirm: false,
                html: false
            }, function(isConfirm){
                if(isConfirm){
                	
										gtag('event', 'remove_from_cart', {
										  "items": [
										    {
										      "id": $(this).attr("data-id"),
										      "name": $(this).attr("data-name"),
										      "brand": $(this).attr("data-brand"),
										      "category": $(this).attr("data-cat"),
										      "list_position": 1,
										      "quantity": $(this).attr("data-q"),
										      "price": $(this).attr("data-price")
										    }
										  ]
										});
                	
                		swal("{#deleted#}", "{#product_deleted#}", "success");
                    window.location = link;
                }
            });
        });
    });
</script>

{include file="footer.html"}