{include file="header.html"}

<div class="breadcrumbsContainer">
    <div class="container">
        <div class="breadcrubsRow">
            {$breadcrumbs}
        </div>
    </div>
</div>

<div class="catBackgroundGradient">
    <div class="cartWrapper">
        <div class="container">
            <div class="leftColumn">
                <div class="orderInfo">
                    <span class="title">{#your_final_order#} <img src="/images/ssl-security.png" style="float: right; width: 100px; margin-top: -10px;" /></span>
                    <p class="text-muted">{#your_final_order_description#}</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <h5 class="py-3">{#delivery_information#}</h5>
                            <dl class="dlist-inline">
                                <dt>{#name#}:</dt>
                                <dd>{$user_info.delivery_name} {$user_info.delivery_last_name}</dd>
                            </dl>
                            <dl class="dlist-inline">
                                <dt>{#address#}:</dt>
                                <dd>{$user_info.delivery_address_1}</dd>
                            </dl>
                            {if $user_info.delivery_address_2}
                            <dl class="dlist-inline">
                                <dt>{#address_2#}: </dt>
                                <dd>{$user_info.delivery_address_2}</dd>
                            </dl>
                            {/if}
                            <dl class="dlist-inline">
                                <dt>{#delivery_city#}:</dt>
                                <dd>{$user_info.delivery_city}</dd>
                            </dl>
                            <dl class="dlist-inline">
                                <dt>{#delivery_postcode#}:</dt>
                                <dd>{$user_info.delivery_postcode}</dd>
                            </dl>
                            {*<dl class="dlist-inline">
                                <dt>{#email#}:</dt>
                                <dd>{$user_info.email}</dd>
                            </dl>*}
                        </div>
                        <div class="col-sm-6">
                            <h5 class="py-3">{#billing_information#}</h5>
                            <dl class="dlist-inline">
                                <dt>{#name#}:</dt>
                                <dd>{$user_info.billing_first_name} {$user_info.billing_last_name}</dd>
                            </dl>
                            <dl class="dlist-inline">
                                <dt>{#phone#}:</dt>
                                <dd>{$user_info.billing_phone}</dd>
                            </dl>
                            <dl class="dlist-inline">
                                <dt>{#address#}:</dt>
                                <dd>{$user_info.billing_address_1}</dd>
                            </dl>
                            {if $user_info.billing_address_2}
                            <dl class="dlist-inline">
                                <dt>{#address_2#}: </dt>
                                <dd>{$user_info.billing_address_2}</dd>
                            </dl>
                            {/if}
                            <dl class="dlist-inline">
                                <dt>{#billing_city#}:</dt>
                                <dd>{$user_info.billing_city}</dd>
                            </dl>
                            <dl class="dlist-inline">
                                <dt>{#billing_postcode#}:</dt>
                                <dd>{$user_info.billing_postcode}</dd>
                            </dl>
                            <dl class="dlist-inline">
                                <dt>{#email#}:</dt>
                                <dd>{$user_info.email}{*{$user_info.billing_email}*}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                {if $cart}
                <div class="myCartWrapper">
                    <div class="topRow">
                        <span class="title">{#my_cart#}</span>
                        <span class="subtitle"><span id="cartProductsQuantityTitle">{$cart_items}</span> {#products_count#}</span>
                    </div>
                    <div class="itemsList">
                        <form name="cartForm" id="cartForm" method="post" action="/{#htaccess_cart#}/">
                            <ul class="products">
                                {section name=c loop=$cart}
                                <li>
                                    <div class="product">
                                        <div class="productImage" style="background-image: url({if $cart[c].pic}/files/tntn/{$cart[c].pic}{else}/images/noImage.png{/if});"></div>
                                        <div class="productInfo checkoutFinalPrInfo">
                                            <div class="prodName">{$cart[c].product_name} {if $cart[c].product_code}({#code#}: {$cart[c].product_code}){/if}</div>
                                            {if $cart[c].option.id}
                                            <span class="prodSubName">
                                                {if $cart[c].option.option_group_name}
                                                    {$cart[c].option.option_group_name}:
                                                {/if}
                                                {$cart[c].option.name}
                                            </span>
                                            {/if}
                                            <span class="d-flex flex-row justify-content-start">
                                                {if $cart[c].product_price_discount > 0.0 && $cart[c].product_price_discount != $cart[c].product_price}
                                                <span class="oldPrice">{if $abb_before_amount}{$currency_abb}{/if}{$cart[c].product_price|number_format:2} {if !$abb_before_amount}{$currency_abb}{/if}</span>
                                                {/if}
                                                <span class="prodPrice" id="price{$cart[c].product_id}{$cart[c].option.id}">
                                                    {if $cart[c].product_price_discount > 0.0 && $cart[c].product_price_discount != $cart[c].product_price}
                                                        {if $abb_before_amount}{$currency_abb}{/if}{$cart[c].product_price_discount|number_format:2} {if !$abb_before_amount}{$currency_abb}{/if}
                                                    {else}
                                                        {if $abb_before_amount}{$currency_abb}{/if}{$cart[c].product_price|number_format:2} {if !$abb_before_amount}{$currency_abb}{/if}
                                                    {/if}
                                                </span>
                                            </span>
                                            <div class="actionsRow">
                                                <span class="quantity-box">{$cart[c].quantity}</span>
                                                {*<select name="quantity{$cart[c].product_id}{$cart[c].option.id}" id="quantity{$cart[c].product_id}{$cart[c].option.id}" class="prodQuantityCart">
                                                    <option value="1" {if $cart[c].quantity == 1}selected{/if}>1</option>
                                                    <option value="2" {if $cart[c].quantity == 2}selected{/if}>2</option>
                                                    <option value="3" {if $cart[c].quantity == 3}selected{/if}>3</option>
                                                    <option value="4" {if $cart[c].quantity == 4}selected{/if}>4</option>
                                                    <option value="5" {if $cart[c].quantity == 5}selected{/if}>5</option>
                                                    <option value="6" {if $cart[c].quantity == 6}selected{/if}>6</option>
                                                </select>*}
                                                {*<a class="add2FavoritesList" href=""><img src="/images/hearth-green-btn.svg" alt="">Премести в любими</a>*}
                                            </div>
                                        </div>
                                        {*<div class="deleteBtnCol">
                                            <a href="/{#htaccess_cart#}/remove/{$cart[c].id}" class="delete removeButton"><img src="/images/icon-x.svg" alt=""></a>
                                        </div>*}
                                    </div>
                                </li>
                                {/section}
                            </ul>
                        </form>
                    </div>
                    <div class="optionsRow">
                        {*<div class="option">
                            <div class="iconHolder"><img src="/images/icon-truck.png" alt=""></div>
                            <span class="optionText">Безплатна Доставка</span>
                        </div>*}
                        <div class="option">
                            <div class="iconHolder"><img src="/images/icon-star.png" alt=""></div>
                            <span class="optionText">{#sign_first_class_products#}</span>
                        </div>
                        <div class="option">
                            <div class="iconHolder"><img src="/images/icon-shield.png" alt=""></div>
                            <span class="optionText">{#secure_online_shopping#}</span>
                        </div>
                    </div>
                </div>
                {/if}
            </div>
            <script src="/js/jquery.sticky-kit.min.js"></script>
            <script>
                $(document).ready(function () {
                    $("#orderWrapper").stick_in_parent({
                        offset_top: 90
                    });
                });
            </script>
            <div class="rightColumn">
                <div class="orderWrapper" id="orderWrapper">
                    <div class="order">
                        <span class="title">{#your_order#}</span>
                        <div class="orderRow">
                            <span class="left">{#amount#}</span>
                            <span class="right" id="cartProductsAmount">{if $abb_before_amount}{$currency_abb}{/if}{$total_amount|number_format:2} {if !$abb_before_amount}{$currency_abb}{/if}</span>
                        </div>
                        {*{$row.promo_code|@var_dump}
                        {$row.discount_promo_code_amount|@var_dump}*}
                        {if $row.promo_code && $row.discount_promo_code_amount}
                        <div class="orderRow">
                            <span class="left">{#promo_code#}: ({$row.promo_code})<br>{$promo_code_name}</span>
                            <span class="right">{if $abb_before_amount}{$currency_abb}{/if}-{$discount_promo_code_amount|number_format:2} {if !$abb_before_amount}{$currency_abb}{/if}</span>
                        </div>
                        {/if}
                        <div class="orderRow">
                            <span class="left">
                                {if $row.discount_free_delivery}
                                    {#free_delivery#}
                                {else}
                                    {if $row.delivery_type_id == 1}{#delivery_speedy_address#}{else if $row.delivery_type_id == 3}{#delivery_econt_address#}{else if $row.delivery_type_id == 2}{#delivery_speedy_office#}{else if $row.delivery_type_id == 4}{#delivery_econt_office#}{/if} {if $row.payment_type_id != 5}({#paid_at_the_time_of_receipt#}){/if}
                                {/if}
                            </span>
                            <span class="right">
                                {if $row.discount_free_delivery}
                                    {if $abb_before_amount}{$currency_abb}{/if}0.00 {if !$abb_before_amount}{$currency_abb}{/if}
                                {else}
                                    {if $abb_before_amount}{$currency_abb}{/if}{$delivery_amount|number_format:2} {if !$abb_before_amount}{$currency_abb}{/if}
                                {/if}
                            </span>
                        </div>
                        <div class="totalContainer">
                            <div class="orderRow">
                                <span class="left">{#total_amount#}{*ОБЩО*}</span>
                                <span class="right" id="cartProductsAmountTotal">{if $abb_before_amount}{$currency_abb}{/if}{$total_amount_corrected|number_format:2} {if !$abb_before_amount}{$currency_abb}{/if}</span>
                            </div>
                        </div>
                        <div class="actionsContainer">
                            {if $active_payment}
                                {if $row.payment_type_id == 1}
                                    <form method="post" action="/finalise-order">
                                        <button type="submit" value="finalise-button" name="finalise" class="buttonFinalise orderBtn w-100">{#finalise_final#}</button>
                                        <div id="preloader" style="display: none;">
                                            <img src="/images/preloader.gif">
                                            {#sending_order#}<br />
                                            {#please_wait#}
                                        </div>
                                    </form>
                                {else}
                                    <form method="post" action="/finalise-order">
                                        <button type="submit" value="finalisePay" name="finalise" class="buttonFinalise orderBtn w-100">{#proceed_to_payment#}</button>
                                        <div id="preloader" style="display: none;">
                                            <img src="/images/preloader.gif">
                                            {#sending_order#}<br />
                                            {#please_wait#}
                                        </div>
                                    </form>
                                {/if}
                            {else}
                                <form method="post" action="/finalise-order">
                                    <button type="submit" value="finalise-button" name="finalise" class="buttonFinalise orderBtn w-100">{#finalise_final#}</button>
                                    <div id="preloader" style="display: none;">
                                        <img src="/images/preloader.gif">
                                        {#sending_order#}<br />
                                        {#please_wait#}
                                    </div>
                                </form>
                            {/if}
                            {*<button form="cartForm" type="submit" name="updateCart"  class="btn btn-outline-primary" style="display: none;">{#update_cart#}</button>
                            <button form="cartForm" type="submit" name="gotoCheckout" value="{#checkout#}" class="orderBtn" href="">{#checkout#}</button>
                            <a class="keepShoppingBtn" href="/">{#continue_shopping#}</a>*}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{if $user}
<div class="favouritesProductsContainer">
    <div class="container">
        <a href="/{#htaccess_favourites#}"><h2 class="title">{#favourites#}</h2></a>
        <div class="productsRow">
            {section name=fp loop=$favouriteProducts}
            <div class="singleItem">
                <a class="product" href="{if $favouriteProducts[fp].htaccess_url}{$favouriteProducts[fp].htaccess_url}{else}/{#htaccess_product#}/{$favouriteProducts[fp].id}{/if}">
                    <div class="imgContainer" style="background-image: url({if $favouriteProducts[fp].mainPic}/files/tn/{$favouriteProducts[fp].mainPic}{else}/images/noImage.png{/if});"></div>
                    <h3 class="name">{$favouriteProducts[fp].brand_name}</h3>
                    {if $lng != "en"}<span class="excerpt">{$favouriteProducts[fp].name_en}</span>{/if}
                    <span class="excerpt">{$favouriteProducts[fp].name}</span>
                     {if $favouriteProducts[fp].price_specialoffer > 0.0}
                        <span class="d-flex flex-row justify-content-around">
                            <span class="price">{if $abb_before_amount}{$currency_abb}{/if}{$favouriteProducts[fp].price_specialoffer|number_format: 2} {if !$abb_before_amount}{$currency_abb}{/if}</span>
                            <del class="price-old">{if $abb_before_amount}{$currency_abb}{/if}{$favouriteProducts[fp].price|number_format: 2} {if !$abb_before_amount}{$currency_abb}{/if}</del>
                        </span>
                    {elseif $favouriteProducts[fp].price > 0.0}
                        <span class="price">{if $abb_before_amount}{$currency_abb}{/if}{$favouriteProducts[fp].price|number_format: 2} {if !$abb_before_amount}{$currency_abb}{/if}</span>
                    {/if}
                </a>
                <!-- rating-wrap -->
                    <div class="rating-wrap">
                        <div class="starsRow" id="rating-{$favouriteProducts[fp].id}"></div>
                    </div> <!-- rating-wrap.// -->
                    <script>
                        $(document).ready(function () {
                            $.fn.raty.defaults.path = '/js/raty/img';
                            $('#rating-{$favouriteProducts[fp].id}').raty({
                                readOnly:  true,
                                starType:    'png', // Element used to represent a star.
                                starHalf:    'star-half.png', // The name of the half star image.
                                starOff:     'star-off.png',  // Name of the star image off.
                                starOn:      'star-on.png',   // Name of the star image on.
                                half:  true,
                                start: parseFloat({$favouriteProducts[fp].rating})
                           });
                        });
                    </script>
                <div class="add2CartHolder">
                    <a class="add2CartBtn" href="{if $favouriteProducts[fp].htaccess_url}{$favouriteProducts[fp].htaccess_url}{else}/{#htaccess_product#}/{$favouriteProducts[fp].id}{/if}"><img src="/images/add-to-cart-green-icon.svg" alt="add to cart">{#add#}</a>
                </div>
            </div>
            {/section}
        </div>
    </div>
</div>
{/if}

<script>
    function addCommas(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

    var speed = 0;
    var scroll = 0;
    var container = $('#suggestedItems');
    var container_w = container.width();
    //var max_scroll = container[0].scrollWidth - container.outerWidth();
    var max_scroll = container.scrollWidth - container.outerWidth();

    container.on('mousemove', function (e) {
        var mouse_x = e.pageX - container.offset().left;
        var mouseperc = 100 * mouse_x / container_w;
        speed = mouseperc - 50;
    }).on('mouseleave', function () {
        speed = 0;
    });

    function updatescroll() {
        if (speed !== 0) {
            scroll += speed / 5;
            if (scroll < 0)
                scroll = 0;
            if (scroll > max_scroll)
                scroll = max_scroll;
            $('#suggestedItems').scrollLeft(scroll);
        }
        $("#speed").html('Speed: ' + speed);
        $("#scroll").html('Scroll: ' + scroll);

        if (scroll > 0) {
            $("#suggestedItems").addClass("addBefore");
        } else {
            $("#suggestedItems").removeClass("addBefore");
        }
        if (scroll >= max_scroll) {
            $("#suggestedItems").addClass("removeAfter");
        } else {
            $("#suggestedItems").removeClass("removeAfter");
        }
        window.requestAnimationFrame(updatescroll);
    }
    window.requestAnimationFrame(updatescroll);

    $(document).ready(function () {
    	
    		$(".buttonFinalise").bind("click", function(){
					gtag('event', 'purchase', {
						
					  "transaction_id": "{$row.id}",
					  "affiliation": "ArthaBeauty online shop",
					  "value": "{$total_amount_corrected|number_format:2}",
					  "currency": "BGN",
					  "tax": 0,
					  "shipping": {if $row.discount_free_delivery}0.00{else}{$delivery_amount|number_format:2}{/if},
						
					  "items": [
						{section name=p loop=$cart}
					    {
					      "id": "{$cart[p].product_id}",
					      "name": "{$cart[p].product.name_en}, {$cart[p].product_name}",
					      "list_name": "Search Results",
					      "brand": "{$cart[p].brand_name}",
					      "list_position": {$smarty.section.p.iteration},
					    	"quantity": "{$cart[p].quantity}",
					      "price": "{$cart[p].product_price_total}"
					    }{if $smarty.section.p.last}{else},{/if}
					   {/section}
					  ],
					  "coupon": "{$row.promo_code}"
					});	
    		});
    	
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 300,
            step: 1,
            slide: function (event, ui) {
                $("#min-price").html(addCommas(ui.values[ 0 ]));

                suffix = '';
                if (ui.values[ 1 ] == $("#max-price").data('max')) {
                    suffix = ' +';
                }
                $("#max-price").html(addCommas(ui.values[ 1 ] + suffix));
            }
        });

        $('#playBtn').on('click', function (ev) {
            $(this).parent().next("iframe")[0].src += "&autoplay=1";
            $(this).parent().hide();
            ev.preventDefault();
        });


        $('#slickSlider1').slick({
            slidesToShow: 8,
            autoplay: true,
            autoplaySpeed: 2000,
            infinite: true,
            speed: 2000,
            centerMode: true,
            slidesToScroll: 8,
            responsive: [
                {
                    breakpoint: 1780,
                    settings: {
                        slidesToShow: 7,
                        slidesToScroll: 7,
                    }
                },
                {
                    breakpoint: 1600,
                    settings: {
                        slidesToShow: 6,
                        slidesToScroll: 6,
                    }
                },
                {
                    breakpoint: 1400,
                    settings: {
                        slidesToShow: 5,
                        slidesToScroll: 5,
                    }
                },
                {
                    breakpoint: 1200,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 4,
                    }
                },
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 4,
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
        
        $('.prodQuantityCart').select2({
            minimumResultsForSearch: -1,
            placeholder: "К-во",
        });
        
        $(".removeButton").click(function(ev){
            ev.preventDefault();
            var link = $(this).attr("href");
            swal({
                title: "{#are_you_sure#}",
                text: "{#delete_cart_product#}",
                type: "warning",
                showCancelButton: true,
                cancelButtonText: "{#no_back_to_cart#}",
                confirmButtonColor: "#312783",
                confirmButtonText: "{#yes_delete_it#}",
                closeOnConfirm: false,
                html: false
            }, function(isConfirm){
                if(isConfirm){
                    swal("{#deleted#}", "{#product_deleted#}", "success");
                    window.location = link;
                }
            });
        });
    });
    
</script>
{include file="footer.html"}