<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{if $infoTitle}{$infoTitle}{else}{$extraTitle}{$title.description}{/if}{if $pageNum} - {$pageNum}{/if}</title>
        <meta name="description" content="{if $infoDescr}{$infoDescr}{else}{$description.description}{/if}{if $extraTitle} {$extraTitle}{/if}" />
        <meta name="keywords" content="{if $infoKeys}{$infoKeys}{else}{$keywords.description}{/if}{if $extraTitle}, {$extraTitle}{/if}" />		
        {$metatags.description}
        <link rel="image_src" href="{$host}{if $images[0].pic}files/products/{$images[0].pic}{else}{if $row.pic_1}files/{$row.pic_1}{else}{if $row.pic}files/{$row.pic}{else}images/logo-facebook.png{/if}{/if}{/if}" />
        <link rel="target_url" href="{$host}{#htaccess_product#}/{$row.id}"/>
        <link rel="shortcut icon" href="/images/favicon.ico" />

        <meta property="og:locale" content="bg_BG" />
        <meta property="og:site_name" content="{$title.description}" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{if $infoTitle}{$infoTitle}{else}{$extraTitle}{$title.description}{/if}{if $pageNum} - {$pageNum}{/if}" />
        <meta property="og:description" content="{if $infoDescr}{$infoDescr}{else}{$description.description}{/if}{if $extraTitle} {$extraTitle}{/if}" />
        <meta property="og:image" content="{$host}{if $images[0].pic}files/{$images[0].pic}{else}{if $row.pic_1}files/{$row.pic_1}{else}{if $row.pic}files/{$row.pic}{else}images/logo-facebook.png{/if}{/if}{/if}" />
        {*<meta property="fb:app_id" content="{$fb_api_key}" />*}
        <link rel="stylesheet" type="text/css" href="/js/bootstrap_4_3_1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/js/fontawesome-free-5_7_2-web/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="/js/swiper/swiper.min.css">
        <link rel="stylesheet" type="text/css" href="/js/fancybox-master/dist/jquery.fancybox.css">
        <link rel="stylesheet" type="text/css" href="/js/jquery-ui/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="/js/select2/dist/css/select2.min.css">
        <link href="/js/cookieconsent/cookieconsent.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/flag-icon-css/css/flag-icon.css">
        {*<link rel="stylesheet" type="text/css" href="/css/ui.css">*}
        <link rel="stylesheet" type="text/css" href="/css/responsive.css">
        <link rel="stylesheet" type="text/css" href="/js/slick/slick.css">
        <link rel="stylesheet" type="text/css" href="/js/slick/slick-theme.css">
        
        {assign var=random value=1|rand:999}
        <link rel="stylesheet" type="text/css" href="/css/style.css?number={$random}">
        
        <script src="/js/jquery-3_3_1-min.js"></script>
        <script src="/js/bootstrap_4_3_1/js/bootstrap.bundle.min.js"></script>
        <script src="/js/swiper/swiper.min.js"></script>
        <script src="/js/fancybox-master/dist/jquery.fancybox.min.js"></script>
        <script src="/js/jquery-ui/jquery-ui.min.js"></script>
        <script src="/js/jquery-ui/jquery.ui.touch-punch.min.js"></script>
        <script src="/js/select2/dist/js/select2.min.js"></script>
        <script src="/js/slick/slick.min.js"></script>
        <script src="/js/raty/js/jquery.raty.js"></script>

        <script src="/js/cookieconsent/scriptCookies.js"></script>
        <script src="/js/cookieconsent/cookieconsent.min.js"></script>

        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="{$google_client_id}">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
		


    </head>
    <body>
        <script>
            var log = function (message) {
                h.innerHTML += timeStamp() + message + "<br>";
                h.scrollTop = h.scrollHeight;
            }

            cookieconsent.initialise({
                type: 'info',
                palette: {
                    "popup": { "background": "rgba(27,51,130,0.9)", "text": "#ffffff" },
                    "button": { "background": "#00a650", "text": "#ffffff" },
                },
                content: {
                    "message": "Сайтът използва \"бисквитки\" (cookies), за подобряване на неговата ефективност. Продължавайки използването му, Вие се съгласявате с нашата ",
                    "dismiss": "Разбрах!",
                    "link": "Политика за употреба на бисквитк        и",
                    "href": "/{#htaccess_info#}/684"
                },
                onPopupOpen: function () {
                    console.log('<em>onPopupOpen()</em> called');
                },
                onPopupClose: function () {
                    console.log('<em>onPopupClose()</em> called');
                },
                onInitialise: function (status) {
                    console.log('<em>onInitialise()</em> called with status <em>' + status + '</em>');
                },
                onStatusChange: function (status) {
                    console.log('<em>onStatusChange()</em> called with status <em>' + status + '</em>');
                },
                onRevokeChoice: function () {
                    console.log('<em>onRevokeChoice()</em> called');
                },
            }, function (popup) {
                p = popup;
            }, function (err) {
                console.error(err);
            });

            {if $showSocialLogins}
                {*{if $useFacebookLogin}
                
                {/if}*}
                {if $useGoogleLogin}
                function googleSignOut() {
                    var auth2 = gapi.auth2.getAuthInstance();
                    //console.log(auth2);
                    auth2.signOut().then(function () {
                        console.log('Google: User signed out.');
                    });
                }
                function onLoad() {
                    gapi.load('auth2', function () {
                        gapi.auth2.init();
                        //console.log("auth2.init()");
                    });
                }
                $(document).ready(function () {
                    onLoad();
                });
                {/if}
            {/if}
        </script>

        <!-- Navigation -->
        <header id="headerContainer">
            <div class="mobileHeader only-mobile">
                <div class="container">
                    <div class="mobRow">
                        
                        <div id="menuToggle">
                            <input type="checkbox" />
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <a class="logoMobile" href="/"></a>
                        <div class="iconsBox">
                            <a href="" class="cart">
                                <span class="imgHolder"></span>
                                <span class="quantity">{if $cart_items_count > 0}{$cart_items_count}{else}0{/if}</span>
                            </a>
                            <span id="searchIcon"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="topLine" id="headerTopLine">
                <div class="container">
                    <div class="headRow">
                        <div class="langBox">
                        	{*
                            {if $link_bg && $lng != "bg"}<a class="active" href="{$link_bg}">BG</a>{/if}
                            {if $link_en && $lng != "en"}<a class="active" href="{$link_en}">EN</a>{/if}
                          *}
                        </div>
                        <div class="langBox text-center">
                          {#promo_text_head#}
                        </div>
						<div class="logoBox"><a href="{$link_home}"><img src="/images/logoHeader.svg" alt=""></a></div>
                        <div class="usersContent color-txt-head text-center">
                        	
                        	{#promo_text_head1#}
                        </div>
                        <div class="usersContent">
							<script>
								$(document).ready(function(){
									$(".menuProfileButton").click(function(){
										if ( $(".menuProfile").hasClass("inactive") == true ){
											$(".menuProfile").removeClass("inactive");
											$(".menuProfile").slideDown();
										}else{
											$(".menuProfile").addClass("inactive");
											$(".menuProfile").slideUp();
										}
									});
								});
							</script>
							{if !$user.id}
							<div class="dropdownHeader">
								<div class="menuProfileButton">
									{*<i class="fas fa-user"></i>*}
									<img src="/images/icon-person2.svg" alt="{#enter_text#}">
								</div>
								<div class="menuProfile inactive">
									<a data-animation-duration="700" data-fancybox data-src="#loginForm" href="javascript:;">{#enter_text#}</a>
									<a data-animation-duration="700" data-fancybox data-src="#signUpForm" href="javascript:;" class="registrationButton">{#enter_register#}</a>
								</div>
							</div> 
							
							<div class="notLoggedIn">
								<a data-animation-duration="700" data-fancybox data-src="#loginForm" href="javascript:;">{#enter_text#}</a><span>{#enter_or#}</span><a data-animation-duration="700" data-fancybox data-src="#signUpForm" href="javascript:;">{#enter_register#}</a>
							</div>
							{else}
							<div class="dropdownHeader">
								<div class="menuProfileButton">
									{*<i class="fas fa-user"></i>*}
									<img src="/images/icon-person2.svg" alt="{#enter_text#}">
								</div>
								<div class="menuProfile inactive">
									<a href="{#htaccess_my_profile#}"><i class="fas fa-user"></i> {#profile#}</a>
									<a href="{#htaccess_logout#}" class="registrationButton"><i class="fas fa-sign-out-alt"></i> {#logout#}</a>
								</div>
							</div> 
							
							<div class="loggedIn">
								<a href="{#htaccess_my_profile#}">
									<div class="imgContainer">
										{*<img src="/images/icon-profile.svg" alt="">*}
										<i class="fas fa-user"></i>
									</div>
									<span>{#profile#}</span>
								</a>
								<a id="logoutButton" href="">
									<div class="imgContainer">
										<i class="fas fa-sign-out-alt"></i>
									</div>
									<span>{#logout#}</span>
								</a>
							</div>
							
							{/if}
                            <div class="login">
                                
                                <div style="display: none;" id="signUpForm" class="animated-modal">
                                    <h2 data-selectable="true">{#heading_registration#}</h2>
                                    <div data-selectable="true" class="fancyBoxContent">
                                        {*<a class="facebookLogin" href="#">{#heading_registration_facebook#}</a>
                                        <a class="googleLogin" href="#">{#heading_registration_googleplus#}</a>*}
                                        {if $showSocialLogins}
                                            {if $useGoogleLogin}
                                            <div class="googleLogin pt-4">
                                                <div class="g-signin2 mb-2" data-onsuccess="onSignIn" data-width="254" data-height="40" data-longtitle="true" data-theme="dark"></div>
                                                <script>
                                                    function onSignIn(googleUser) {
                                                        // Useful data for your client-side scripts:
                                                        var profile = googleUser.getBasicProfile();
                                                        {*console.log("ID: " + profile.getId()); // Don't send this directly to your server!
                                                        console.log('full_name: ' + profile.getName());
                                                        console.log('Given Name: ' + profile.getGivenName());
                                                        console.log('Family Name: ' + profile.getFamilyName());
                                                        console.log("Image URL: " + profile.getImageUrl());
                                                        console.log("Email: " + profile.getEmail());*}

                                                        // The ID token you need to pass to your backend:
                                                        //var id_token = googleUser.getAuthResponse().id_token;
                                                       // console.log("ID Token: " + id_token);

                                                        $.ajax({
                                                            type: "POST",
                                                            url: "/login-proceed",
                                                            data: {
                                                                google_id: profile.getId(),
                                                                full_name: profile.getName(),
                                                                given_name: profile.getGivenName(),
                                                                family_name: profile.getFamilyName(),
                                                                image_url: profile.getImageUrl(),
                                                                login_email: profile.getEmail(),
                                                                googleLogin: 1
                                                            },
                                                            //dataType: "json",
                                                            success: function (res) {
                                                                //console.log("-----google logged in-----");
                                                                //console.log(res);
                                                                window.location.href = "/myprofile";
                                                            }
                                                            //,
                                                            //error: function(er){
                                                            //    console.log(er);
                                                            //}
                                                        });
                                                    }
                                                </script>
                                            </div>
                                            {*<a href="" class="btn btn-block btn-danger"> <i class="fab fa-google"></i> &nbsp; Login via Twitter</a>*}
                                            {/if}
                                            {if $useFacebookLogin}
                                            <a href="/login-facebook" class="facebookLogin">{#heading_registration_facebook#}</a>
                                            {/if}
                                        
                                            <div class="orSeparator">
                                                <span class="text">{#or#}</span>
                                                <span class="line"></span>
                                            </div>
                                        {/if}
                                        <form method="POST" action="/register-proceed" id="registerForm">
                                            <div class="inputRow">
                                                <div class="inputCol6">
                                                    <input type="text" name="first_name" placeholder="{#firstname#}">
                                                    <div id="errorR1" class="errorMessage2">
                                                        {#error_firstname#}
                                                    </div>
                                                </div>
                                                <div class="inputCol6">
                                                    <input type="text" name="last_name" placeholder="{#lastname#}">
                                                    <div id="errorR2" class="errorMessage2">
                                                        {#error_lastname#}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inputRow">
                                                <div class="inputCol12">
                                                    <input type="text" name="email" placeholder="{#email#}" id="registerEmail">
                                                    <div id="errorR3" class="errorMessage2">
                                                        {#error_email#}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inputRow">
                                                <div class="inputCol12">
                                                    <input type="password" name="password" placeholder="{#register_password#}">
                                                    <div id="errorR5" class="errorMessage2">
                                                        {#error_password#}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inputRow">
                                                <div class="inputCol12">
                                                    <input type="password" name="confirm_password" placeholder="{#register_password_confirm#}">
                                                    <div id="errorR6" class="errorMessage2">
                                                        {#error_confirm_password#}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inputRow">
                                                <div class="inputCol12">
                                                    <label>
                                                        <input type="checkbox" name="mailinglist" value="1" class="registerFormCheckbox">
                                                        <span>{#join_newsletter#}</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="inputRow">
                                                <div class="inputCol12">
                                                    <label>
                                                        <input type="checkbox" name="agree_terms" value="1" class="registerFormCheckbox">
                                                        <span>{#i_agree_with#} <a href="/{#htaccess_info#}/511" target="_blank"><strong>{#the_terms#}</strong></a> {#terms_of#}</span>
                                                    </label>
                                                    <div class="errorMessage2" id="agree_terms_Error">{#register_invalid_agree_terms#}</div>
                                                </div>
                                            </div>
                                            <div class="inputRow">
                                                <div class="inputCol12">
                                                    <label>
                                                        <input type="checkbox" name="agree_terms_gdpr" value="1" class="registerFormCheckbox">
                                                        <span>{#i_agree_gdpr#} <a href="/{#htaccess_info#}/511" target="_blank"><strong>{#the_gdpr_policy#}</strong></a> {#terms_of#}</span>
                                                    </label>
                                                    <div class="errorMessage2" id="agree_terms_gdpr_Error">{#register_invalid_agree_terms_gdpr#}</div>
                                                </div>
                                            </div>
                                            
                                            <div class="inputRow">
                                                <div class="inputCol12">
                                                    <input type="submit" name="buttonCreateAccount" id="buttonCreateAccount" class="submitBtn" value="{#registration#}">
                                                </div>
                                            </div>
                                        </form>
                                        <div class="loginBox">
                                            {#have_an_account#} <a class="loginBtn" data-animation-duration="700" data-fancybox data-src="#loginForm" href="javascript:;">{#enter#}</a>
                                        </div>
                                        <script>
                                            $('#buttonCreateAccount').click(function(e) {
                                                e.preventDefault();
                                                var errors = 0;
                                                var first_name = $("input[name=first_name]").val();
                                                var last_name = $("input[name=last_name]").val();
                                                var email = $("#registerEmail").val();
                                                var password = $("input[name=password]").val();
                                                var confirm_password = $("input[name=confirm_password]").val();
                                                var agree_terms = $("input[name=agree_terms]").is(':checked');
                                                var agree_terms_gdpr = $("input[name=agree_terms_gdpr]").is(':checked');

                                                var errorFirstName = false;
                                                var errorLastName = false;
                                                var errorEmail = false;
                                                var errorPassword = false;
                                                var errorConfirmPassword = false;
                                                var errorAgreeTerms = false;
                                                var errorAgreeTermsGdpr = false;

                                                if (first_name == "") {
                                                    errorFirstName = false;
                                                    $("#errorR1").show();
                                                } else {
                                                    errorFirstName = true;
                                                    $("#errorR1").hide();
                                                }
                                                if (last_name == "") {
                                                    errorLastName = false;
                                                    $("#errorR2").show();
                                                } else {
                                                    errorLastName = true;
                                                    $("#errorR2").hide();
                                                }
                                                if (email == "") {
                                                    errorEmail = false;
                                                    $("#errorR3").show();
                                                } else {
                                                    errorEmail = true;
                                                    $("#errorR3").hide();
                                                }
                                                if (password == "") {
                                                    errorPassword = false;
                                                    $("#errorR5").show();
                                                } else {
                                                    errorPassword = true;
                                                    $("#errorR5").hide();
                                                }
                                                if (confirm_password == "" || password != confirm_password) {
                                                    errorConfirmPassword = false;
                                                    $("#errorR6").show();
                                                } else {
                                                    errorConfirmPassword = true;
                                                    $("#errorR6").hide();
                                                }
                                                if (!agree_terms) {
                                                    errorAgreeTerms = false;
                                                    $("#agree_terms_Error").show();
                                                } else {
                                                    errorAgreeTerms = true;
                                                    $("#agree_terms_Error").hide();
                                                }
                                                if (!agree_terms_gdpr) {
                                                    errorAgreeTermsGdpr = false;
                                                    $("#agree_terms_gdpr_Error").show();
                                                } else {
                                                    errorAgreeTermsGdpr = true;
                                                    $("#agree_terms_gdpr_Error").hide();
                                                }
                                                //console.log("email: ",email);
                                                //console.log("errorEmail: ",errorEmail);
                                                if (errorFirstName && errorLastName && errorEmail && errorPassword && errorConfirmPassword && errorAgreeTerms && errorAgreeTermsGdpr){
                                                    $("#buttonCreateAccount").hide();
                                                    $("#preloader").show();
                                                    {*grecaptcha.ready(function() {
                                                        grecaptcha.execute('{$recaptcha_site_key}', { action: 'createAccountRegister' }).then(function(token) {
                                                            $('#g-recaptcha-response').val(token);
                                                            $('#registerForm').submit();
                                                        });
                                                    });*}
                                                    $('#registerForm').submit();
                                                }else{
                                                    $(".errorMessage2:visible").eq(0).siblings("input").focus();
                                                }
                                            });
                                            </script>
                                        <div class="termsBox">
                                            <a href="/{#htaccess_info#}/511">{#gdpr_policy#}</a>
                                            <a href="/{#htaccess_info#}/511">{#terms_of_use#}</a>
                                        </div>
                                    </div>
                                </div>

                                <div style="display: none;" id="loginForm" class="animated-modal">
                                    <h2 data-selectable="true">{#login#}</h2>
                                    <div data-selectable="true" class="fancyBoxContent">
                                        
                                        {*<a class="facebookLogin" href="#">{#login_with_facebook#}</a>
                                        <a class="googleLogin" href="#">{#login_with_google#}</a>*}
                                        
                                        {if $showSocialLogins}
                                            {if $useGoogleLogin}
                                            <div class="googleLogin pt-4">
                                                <div class="g-signin2 mb-2" data-onsuccess="onSignIn" data-width="254" data-height="40" data-longtitle="true" data-theme="dark"></div>
                                                <script>
                                                    function onSignIn(googleUser) {
                                                        // Useful data for your client-side scripts:
                                                        var profile = googleUser.getBasicProfile();
                                                        {*console.log("ID: " + profile.getId()); // Don't send this directly to your server!
                                                        console.log('full_name: ' + profile.getName());
                                                        console.log('Given Name: ' + profile.getGivenName());
                                                        console.log('Family Name: ' + profile.getFamilyName());
                                                        console.log("Image URL: " + profile.getImageUrl());
                                                        console.log("Email: " + profile.getEmail());*}

                                                        // The ID token you need to pass to your backend:
                                                        //var id_token = googleUser.getAuthResponse().id_token;
                                                       // console.log("ID Token: " + id_token);

                                                        $.ajax({
                                                            type: "POST",
                                                            url: "/login-proceed",
                                                            data: {
                                                                google_id: profile.getId(),
                                                                full_name: profile.getName(),
                                                                given_name: profile.getGivenName(),
                                                                family_name: profile.getFamilyName(),
                                                                image_url: profile.getImageUrl(),
                                                                login_email: profile.getEmail(),
                                                                googleLogin: 1
                                                            },
                                                            //dataType: "json",
                                                            success: function (res) {
                                                                //console.log("-----google logged in-----");
                                                                //console.log(res);
                                                                window.location.href = "/myprofile";
                                                            }
                                                            //,
                                                            //error: function(er){
                                                            //    console.log(er);
                                                            //}
                                                        });
                                                    }
                                                </script>
                                            </div>
                                            {*<a href="" class="btn btn-block btn-danger"> <i class="fab fa-google"></i> &nbsp; Login via Twitter</a>*}
                                            {/if}
                                            {if $useFacebookLogin}
                                            <a href="/login-facebook" class="facebookLogin">{#login_with_facebook#}</a>
                                            {/if}
                                        
                                            <div class="orSeparator">
                                                <span class="text">{#or#}</span>
                                                <span class="line"></span>
                                            </div>
                                        {/if}
                                        
                                        <form id="loginFormFields">
                                            <div class="inputRow">
                                                <div class="inputCol12">
                                                    <input type="email" name="login_email" placeholder="{#email#}">
                                                </div>
                                            </div>
                                            <div class="inputRow">
                                                <div class="inputCol12">
                                                    <input type="password" name="login_password" placeholder="{#password#}">
                                                </div>
                                            </div>
                                            <div class="inputRow">
                                                <div class="inputCol12">
                                                    <div class="forgotPass">
                                                        <a data-animation-duration="700" data-fancybox data-src="#forgotPassForm" href="javascript:;">{#forgotten_password#}?</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inputRow">
                                                <div class="inputCol12">
                                                    <input type="hidden" name="login" value="1">
                                                    <button type="submit" name="login" id="buttonLogin" class="submitBtn">{#login#}</button>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="loginBox">
                                            Нямаш акаунт? <a data-animation-duration="700" data-fancybox data-src="#signUpForm" href="javascript:;">Регистрирай се</a>
                                        </div>
                                        <div class="termsBox">
                                            <a href="/{#htaccess_info#}/511">{#gdpr_policy#}</a>
                                            <a href="/{#htaccess_info#}/511">{#terms_of_use#}</a>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                $('#buttonLogin').click(function(ev) {
                                    ev.preventDefault();
                                    $("#buttonLogin").html('<i class="fas fa-cog fa-spin"></i> {#please_wait#}');
                                    $.ajax({
                                        type: "POST",
                                        url: "/login-proceed",
                                        data: $("#loginFormFields").serialize(),
                                        dataType: "json",
                                        success: function(response){
                                            console.log(response);
                                            if(response.code == 200){
                                                window.location.href = '{#htaccess_my_profile#}';
                                            }else if(response.code == 405){
                                                swal({
                                                    title: response.title,
                                                    text: response.message,
                                                    type: "warning",
                                                    showCancelButton: false,
                                                    confirmButtonColor: "#312783",
                                                    confirmButtonText: "{#ok_good#}",
                                                    closeOnConfirm: false
                                                });
                                                $("#buttonLogin").html("{#login#}");
                                            }else if(response.code == 301){
                                                swal({
                                                    title: response.title,
                                                    text: response.message,
                                                    type: "warning",
                                                    showCancelButton: false,
                                                    confirmButtonColor: "#312783",
                                                    confirmButtonText: "{#ok_good#}",
                                                    closeOnConfirm: false
                                                });
                                                $("#buttonLogin").html("{#login#}");
                                            }
                                        },
                                        error: function(er){
                                            console.log(er);
                                        }
                                    });
                                });
                                </script>

                                <div style="display: none;" id="forgotPassForm" class="animated-modal">
                                    <h2 data-selectable="true">{#heading_forgot_password#}</h2>
                                    <div data-selectable="true" class="fancyBoxContent">
                                        <div class="instruction">{$forgot_password.description}</div>
                                        <form method="post" action="/forgot-password-proceed" name="forgotPasswordForm" id="forgotPasswordForm">
                                            <div class="inputRow">
                                                <div class="inputCol12">
                                                    <input type="email" name="email" placeholder="{#register_email#}">
                                                </div>
                                            </div>
                                            <div class="inputRow">
                                                <div class="inputCol12">
                                                    <input type="hidden" name="param" value="forgot-password-proceed">
                                                    <input type="submit" name="buttonForgotPassword" id="buttonForgotPassword" class="submitBtn" value="{#send#}">
                                                </div>
                                            </div>
                                        </form>
                                        <div class="termsBox">
                                            <a href="/{#htaccess_info#}/511">{#gdpr_policy#}</a>
                                            <a href="/{#htaccess_info#}/511">{#terms_of_use#}</a>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    $(document).ready(function(){
                                        $("#buttonForgotPassword").click(function(ev){
                                            ev.preventDefault();
                                            //console.log("click");
                                            var errors = 0;
                                            //console.log(errors);
                                            $("#forgotPasswordForm input").removeClass("errorField");
                                            $("#forgotPasswordForm input").each(function(e, i){
                                                if ( $(this).hasClass("required") ){
                                                    if ( $(this).val().trim() == "" ){
                                                        errors++;
                                                        $(this).addClass("errorField");
                                                    }
                                                    if ( $(this).attr("name") == "email" && isEmail($(this).val()) == false){
                                                        errors++;
                                                        $(this).addClass("errorField");
                                                    }
                                                }
                                            });

                                            //console.log(errors);
                                            if ( errors == 0 ){
                                                document.forgotPasswordForm.submit();
                                            }else{
                                                return false;
                                            }
                                        });
                                    });
                                    function isEmail(email) {
                                        var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{literal}{2,4}{/literal})+$/;
                                        if(!regex.test(email)) {
                                          return false;
                                        }else{
                                          return true;
                                        }
                                    }
                                </script>
                            </div>
                            <div class="iconsBox">
								<script>
									$(document).ready(function(){
										$(".cart").hover(function(){
											$.ajax({
												type: "POST",
												url: "/",
												data: "param=cart-ajax",
												dataType: "json",
												success: function(response){
													var html = '';
													if ( response.products.length ){
                                                        for ( var i = 0; i < response.products.length; i++ ){
                                                            html += '<li>';
                                                            html += '	<div class="productImage">';
                                                            html += '		<div class="image" style="background-image: url(/files/tn/'+response.products[i].pic+');"></div>';
                                                            html += '	</div>';
                                                            html += '	<div class="productInfo">';
                                                            html += '		<span class="name">'+response.products[i].product_name+'</span>';
                                                            //html += '		<span class="excerpt">'+response.products[i].excerpt+'</span>';
                                                            html += '	</div>';
                                                            html += '	<div class="productPrice">';
                                                            html += '		'+response.products[i].quantity+' x '+response.products[i].product_price_total+' {#currency#}';
                                                            html += '	</div>';
                                                            html += '</li>';

                                                        }
														$("#cartDropDownTotal").empty();
														$("#cartDropDownTotal").append(response.total_amount);
														$("#productsDropDown").empty();
														$("#productsDropDown").append(html);
													}
												}
											});
										});
									});
								</script>
                                <span class="cart">
                                    <span class="imgHolder"></span>
                                    <span class="quantity" id="cartProductsQuantityTop">{if $cart_items_count > 0}{$cart_items_count}{else}0{/if}</span>
                                    <div class="cartItemsWrapper">
                                        <div class="cartItemsList">
                                            <div class="headingRow">
                                                <span class="headTitle">{#cart_header#}</span>
                                                <span class="headText">{if $cart_items_count > 0}{$cart_items_count}{else}0{/if} {#cart_products#}</span>
                                            </div>
                                            <ul class="products" id="productsDropDown">
                                                
                                            </ul>
                                            <div class="cartFooter">
                                                <span class="total">Общо:<strong><span id="cartDropDownTotal">0.00</span> {#currency#}</strong></span>
                                                <a href="/{#htaccess_cart#}/" class="checkout">Плати</a>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                                <a href="/{#htaccess_favourites#}" class="hearth" id="favouritesTopButton">
                                    <span class="imgHolder"></span>
                                    <span class="quantity" id="favouritesQuantityTopButton">{$favouritesCount}</span>
                                </a>
                                <script>
                                    $("#favouritesTopButton").click(function(ev){
                                        ev.preventDefault();
                                        {if $user.id}
                                        var link = $(this).prop("href");
                                        window.location = link;
                                        {else}
                                        swal({
                                            title: "{#error_favourites_login_title#}",
                                            text: "{#error_favourites_login_message#}",
                                            type: "warning",
                                            showCancelButton: false,
                                            confirmButtonColor: "#70AC8C",
                                            confirmButtonText: "{#ok_good#}",
                                            closeOnConfirm: false
                                        });
                                        {/if}
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottomLine" id="headerBottomLine">
                <div class="container">
                    <nav class="headRow">
                        
                        <div class="menuHolder">
                            <ul class="menu">
                                <li class="menuLi only-mobile favoriteItems">
                                    <a class="menuLink" href="/{#htaccess_favourites#}"><span class="imgContainer"><img src="/images/icon-hearth.png" alt=""></span>любими</a>
                                </li>
                                {section name=c loop=$categories}
                                    <li class="menuLi">
                                        <a class="menuLink{if $categories[c].subcategories} hasSubMenu{/if}" href="{if $categories[c].url}{$categories[c].url}{elseif $categories[c].htaccess_url}{$categories[c].htaccess_url}{else}/{#htaccess_categories#}/{$categories[c].id}{/if}">{$categories[c].name}</a>
                                        {if $categories[c].subcategories}
                                        <div class="submenuHolder">
                                            <ul class="submenu">
                                                {section name=subcat loop=$categories[c].subcategories}
                                                <li class="submenuLi"><a href="{if $categories[c].subcategories[subcat].htaccess_url}{$categories[c].subcategories[subcat].htaccess_url}{else}/{#htaccess_categories#}/{$categories[c].subcategories[subcat].id}{/if}">{$categories[c].subcategories[subcat].name}</a></li>
                                                {/section}
                                            </ul>
                                        </div>
                                        {/if}
                                    </li>
                                {/section}
                            </ul>
                        </div>
                        <form class="searchHolder" action="/{#htaccess_search#}">
                            <input type="text" name="search_string" placeholder="Търси..." value="{$search_string}">
                            <input type="hidden" name="param" value="search">
                            <input type="hidden" name="lang" value="{$lng}">
                            <input class="submitBtn" type="submit" value="">
                        </form>
                    </nav>
                </div>
            </div>
        </header>
        
        <script>
            $(document).ready(function(){
                ( function( $ ) {
                    $('[data-fancybox]').fancybox({
                        closeExisting: true,
                        loop: true
                    });
                } )( jQuery )
            });
        </script>
                            
        <!--=====================================
        =        End of Header section          =
        ======================================-->