{include file="header.html"}
<div class="breadcrumbsContainer">
    <div class="container">
        <div class="breadcrubsRow">
            {$breadcrumbs}
        </div>
    </div>
</div>

<div class="catBackgroundGradient">
    <div class="topRow">{if $row.h1}{$row.h1}{else}{$row.name}{/if}</div>
    <div class="mobileCategories">
        <div class="container">
            <div class="headButtons">
                <div class="downSection">
                    <div class="bottomRow">
                        <span class="leftSortBtn">{#sort#} <span class="icon"><img src="/images/arrow-down-gray.svg" alt=""></span></span>
                        <span class="filterBtn">{#filters#}</span>
                    </div>
                    <div class="hiddenSections">
                        <div class="hiddenSort">
                            <a class="mobile-sortBy" data-sortBy="price-asc">{#cheapest#}</a>
                            <a class="mobile-sortBy" data-sortBy="price-desc">{#most_expensive#}</a>
                            <a class="mobile-sortBy" data-sortBy="postdate-desc">{#newest#}</a>
                            <a class="mobile-sortBy" data-sortBy="postdate-asc">{#oldest#}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="categoriesWrapper searchWrapper">
        <div class="container">
            <div class="productsSection w-100">
                <div class="topRow mt-3">
                    <div class="heading">{#products#} <span class="subHeading">{if $resultsCount > 0}({$resultsCount}){/if}</span></div>
                    <div class="sortByContainer">
                        <span class="text">{#sort_by#}:</span>
                        <div class="sortByBox">
                            <select name="sort_by" class="sortBy">
                                <option value="price-asc" {if $sort_by == "price-asc"}selected{/if}>{#cheapest#}</option>
                                <option value="price-desc" {if $sort_by == "price-desc"}selected{/if}>{#most_expensive#}</option>
                                <option value="postdate-desc" {if $sort_by == "postdate-desc" || ($sort_by != "price-asc" && $sort_by != "price-desc" && $sort_by != "postdate-asc")}selected{/if}>{#newest#}</option>
                                <option value="postdate-asc" {if $sort_by == "postdate-asc"}selected{/if}>{#oldest#}</option>
                            </select>
                        </div>
                    </div>
                    <script>
                        $(".sortBy").change(function(){
                            var sortBy = $(this).val();
                            window.location = "/{#htaccess_search#}?search_string={$filter_search_string}&param=search&lang={$lng}&sort_by="+sortBy
                            //$("#sort_by_field").val(sortBy);
                            //processAdvancedSearch();
                        });
                    </script>
                </div>
                <div class="productsRow" id="holderProducts">
                    {section name=i loop=$items}
                    <div class="singleItem searchItem">
                        <a class="product" href="{if $items[i].htaccess_url}{$items[i].htaccess_url}{else}/{#htaccess_product#}/{$items[i].id}{/if}">
                            <div class="imgContainer" style="background-image: url({if $items[i].mainPic}/files/tn/{$items[i].mainPic}{else}/images/noImage.png{/if});">
                                <span class="likedBox {if $items[i].in_favourites} likedBoxRed{/if}" name="{$items[i].id}"></span>
                            </div>
                            <h3 class="name">{$items[i].brand_name}</h3>
                            {if $lng != "en"}<span class="excerpt">{$items[i].name_en}</span>{/if}
                            <span class="excerpt">{$items[i].name}</span>
                            {if $items[i].price_specialoffer > 0.0}
                                <span class="d-flex flex-row justify-content-around">
                                    <span class="price">{if $abb_before_amount}{$currency_abb}{/if}{$items[i].price_specialoffer|number_format: 2} {if !$abb_before_amount}{$currency_abb}{/if}</span>
                                    <del class="price-old">{if $abb_before_amount}{$currency_abb}{/if}{$items[i].price|number_format: 2} {if !$abb_before_amount}{$currency_abb}{/if}</del>
                                </span>
                            {elseif $items[i].price > 0.0}
                                <span class="price">{if $abb_before_amount}{$currency_abb}{/if}{$items[i].price|number_format: 2} {if !$abb_before_amount}{$currency_abb}{/if}</span>
                            {/if}
                        </a>
                        <!-- rating-wrap -->
                        <div class="rating-wrap">
                            <div class="starsRow" id="rating-{$items[i].id}"></div>
                            {*{if $items[i].reviews_count > 0 && $items[i].comments > 0}
                                {if $items[i].reviews_count > 0}<div class="label-rating"><small>{$items[i].reviews_count} {if $items[i].reviews_count > 1}{#reviews#}{else}{#review#}{/if}</small></div>{/if}
                                {if $items[i].comments > 0}<div class="label-rating"><small>{$items[i].comments} {if $items[i].comments > 1}{#comments#}{else}{#comment#}{/if}</small></div>{/if}
                            {else}
                                <div class="label-rating"><small>Все още няма ревюта.</small></div>
                            {/if}*}
                        </div> <!-- rating-wrap.// -->
                        <script>
                            $(document).ready(function () {
                                $.fn.raty.defaults.path = '/js/raty/img';
                                $('#rating-{$items[i].id}').raty({
                                    readOnly:  true,
                                    starType:    'png', // Element used to represent a star.
                                    starHalf:    'star-half.png', // The name of the half star image.
                                    starOff:     'star-off.png',  // Name of the star image off.
                                    starOn:      'star-on.png',   // Name of the star image on.
                                    half:  true,
                                    start: parseFloat({$items[i].rating})
                               });
                            });
                        </script>
                    </div>
                    {/section}
                </div>
                <script>
                    $("a.product").click(function(ev){
                        ev.preventDefault();
                        var link = $(this).prop("href");
                        var target = $(ev.target);
                        if (target.is(".likedBox")) {
                            var likedBox = $(this).find(".likedBox");
                            likedBox.click();
                        }else{
                            window.location = link;
                        }
                    });
                    
                    $(".likedBox").bind("click", function(){
                        console.log("click");
                        {if !$user.id}
                            swal({
                                title: "{#error_login#}",
                                text: "{#error_login_text_2#}",
                                type: "warning",
                                confirmButtonText: "{#proceed_login#}",
                                showCancelButton: true,
                                cancelButtonText: "{#cancel#}",
                                closeOnConfirm: false,
                                closeonCancel: true
                            });
                            {*function(){
                                window.location = '/register';
                            });*}
                        {else}
                            if ( $(this).hasClass("likedBoxRed") ){
                                $.ajax({
                                    type: "POST",
                                    url: "/",
                                    data: "param=post-product-to-favourites&act=remove&product_id="+$(this).attr("name"),
                                    dataType: "json",
                                    success: function(res){
                                        $("#favouritesQuantityTopButton").html(res.total_count);
                                    }
                                });
                                $(this).removeClass("likedBoxRed");
                            }else{
                                $.ajax({
                                    type: "POST",
                                    url: "/",
                                    data: "param=post-product-to-favourites&act=add&product_id="+$(this).attr("name"),
                                    dataType: "json",
                                    success: function(res){
                                        $("#favouritesQuantityTopButton").html(res.total_count);
                                    }
                                });
                                $(this).addClass("likedBoxRed");
                            }
                        {/if}
                        return false;
                    });
                </script>
                <div class="bottomRow">
                    <div class="excerpt">
                        {if $row.description && !$page}{$row.description}{/if}
                    </div>
                    <div class="pagination">
                        {$pages}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function addCommas(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }
</script>
{include file="footer.html"}