{include file="header.html"}
<div class="breadcrumbsContainer">
		<div class="container">
			<div class="breadcrubsRow">
				<a href="{$link_home}">{#home_breadcrumbs#}</a>
				<span>|</span>
				<a href="{#htaccess_blog#}">{#blog#}</a> 
				<span>|</span>
				<span class="last">{$row.name}</span>
				
			</div>
		</div>
	</div>

	<script type="application/ld+json">
	{
	  "@context": "http://schema.org",
	  "@type": "NewsArticle",
	  "mainEntityOfPage": {
		"@type": "WebPage",
		"@id": "https://{$smarty.server.HTTP_HOST}{$smarty.server.REQUEST_URI}"
	  },
	  "headline": "{if $row.h1}{$row.h1}{else}{$row.name}{/if}",
	  {if $row.pic_header}
	  "image": ["{$host}files/{$row.pic_header}"],
		{/if}
	  "datePublished": "{$row.publishdate|date_format:'%a %b %d %H:%M:%S %Y'}",
	  "dateModified": "{$row.publishdate|date_format:'%a %b %d %H:%M:%S %Y'}",
	  "author": {
		"@type": "Person",
		"name": "{$row.author.name}"
	  },
	   "publisher": {
		"@type": "Organization",
		"name": "ArthaBeauty",
		"logo": {
		  "@type": "ImageObject",
		  "url": "{$host}images/logo-facebook.png"
		}
	  },
	  "description": "{$row.excerpt|strip_tags|escape:javascript|replace:'\n':''|replace:'\r':''|replace:'&nbsp;':" "|trim}"
	}
	</script>	


	<div class="catBackgroundGradient">

		<div class="articleTopContainer">
				<div class="container">
					<h1 class="title">{if $row.h1}{$row.h1}{else}{$row.name}{/if}</h1>
					{if $row.author.id}
					<div class="authorInfo">
						<div class="userPic">
							{if $row.author.pic}<img src="/files/tntn/{$row.author.pic}" alt="{$row.author.name}">{/if}
						</div>
						<div class="userInfo">
							<span class="name">{$row.author.name}</span>
							<span class="date">{$row.news_date} {$row.news_categories[0].name}</span>
						</div>
					</div>
					{/if}
					{if $row.pic_header}
					<div class="articleWrapper">
						<div class="imgContainer" style="background-image: url(/files/{$row.pic_header});"></div>
					</div>
					{/if}
				</div>
			</div>
	</div>
	<div class="grayContainer5">
		<div class="container">
			<div class="articleContent1">
					
					{$row.description}
					
					{if $images AND 0}
						<br><br>
						<h4>{#gallery#}</h4>
						<div class="infoGallery">
							{section name=i loop=$images}
							<a href="/files/{$images[i].file}" data-fancybox="infoGallery" class="item-gallery">
								<img src="/files/tn/{$images[i].file}" class="thumbImg" alt="{if $images[i].name}{$images[i].name}{else}{$row.name}{/if}">
							</a>
							{/section}
						</div>
						<div class="clear"></div>
					{/if}
						
					{if $files}
						<h4 class="heading">{#files#}</h4>
						<div class="downloadFiles mb-5">
						{section name=f loop=$files}
							<a href="/{#htaccess_downloadinfofile#}/{$files[f].file}/{$row.id}" target="_blank">
								<i class="fas fa-file-download"></i> {if $files[f].name}{$files[f].name}{else}{$files[f].file}{/if}
							</a>
						{/section}
						</div>
					{/if}
					
					
					
					{if $row.contactform}
						{include file="contactsform.html"}
					{/if}
			</div>
		</div>
	</div>
	<div class="grayBackgroundContainer" style="background-color: #E7F3F0">

		<div class="twoArticlesOnRow">
			<div class="container">
				<h3 class="title">{#read_more#}</h3>
				<div class="articleRow">
					{section name=ln loop=$latest_news}
					<article>
						<a href="{if $latest_news[ln].url}{$latest_news[ln].url}{else}{if $subMenus[sm].htaccess_url}{$latest_news[ln].htaccess_url}{else}/{#htaccess_news_article#}/{$latest_news[ln].id}{/if}{/if}">					
							<section class="imgContainer" style="background-image: url({if $latest_news[ln].pic}/files/{$latest_news[ln].pic}{else}/images/article-11.jpg{/if});">
								<span class="categoryType2">{$latest_news[ln].news_categories[0].name}</span>
							</section>
							<section class="content">
								<h3 class="articleTitle">{$latest_news[ln].name}</h3>
								<div class="excerpt">{$latest_news[ln].excerpt}</div>
								{if $latest_news[ln].author.id}
								<div class="authorInfo">
									<div class="userPic">
										{if $latest_news[ln].author.pic}<img src="/files/tntn/{$latest_news[ln].author.pic}" alt="{$latest_news[ln].author.name}">{/if}
									</div>
									<div class="userInfo">
										<span class="name">{$latest_news[ln].author.name}</span>
										<span class="date">{$latest_news[ln].news_date} {$latest_news[ln].news_categories[0].name}</span>
									</div>
								</div>
								{/if}
							</section>
						</a>
					</article>
					{/section}
				</div>
			</div>
		</div>

	</div>

	<div class="subscribeContainer">
		<div class="container">
			<div class="ml-form-embed"
              data-account="2357165:t4g0d1k0a9"
              data-form="2728046:b4z6v5">
            </div>
		</div>
	</div>
{literal}
<style>
	.articleContent1 dl, .articleContent1 ol,.articleContent1 ul {
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
    padding-inline-start: 40px !important;
	}
	.articleContent1 p{
		margin-top: 1em !important;
		margin-bottom: 1em !important;
	}
</style>
<!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5de651569c86dcac" defer></script>
{/literal}
{include file="footer.html"}