{include file="header.html"}
<div class="breadcrumbsContainer">
		<div class="container">
			<div class="breadcrubsRow">
				<a href="{$link_home}">{#home_breadcrumbs#}</a>
				<span>|</span>
				<a href="{#htaccess_blog#}">{#blog#}</a> 
				<span>|</span>
				<span class="last">{$row.name}</span>
				
			</div>
		</div>
	</div>

	


	<div class="catBackgroundGradient">

		<div class="articleTopContainer">
				<div class="container">
					<h1 class="title">{if $row.h1}{$row.h1}{else}{$row.name}{/if}</h1>
					{if $row.author.id}
					<div class="authorInfo">
						<div class="userPic">
							{if $row.author.pic}<img src="/files/tntn/{$row.author.pic}" alt="{$row.author.name}">{/if}
						</div>
						<div class="userInfo">
							<span class="name">{$row.author.name}</span>
							<span class="date">{$row.news_date} {$row.news_categories[0].name}</span>
						</div>
					</div>
					{/if}
					{if $row.pic_header}
					<div class="articleWrapper">
						<div class="imgContainer" style="background-image: url(/files/{$row.pic_header});"></div>
					</div>
					{/if}
				</div>
			</div>
	</div>
	<div class="grayContainer5">
		<div class="container">
			<div class="articleContent1">
					
					{$row.description}
					
					{if $images}
						<br><br>
						<h4>{#gallery#}</h4>
						<div class="infoGallery">
							{section name=i loop=$images}
							<a href="/files/{$images[i].file}" data-fancybox="infoGallery" class="item-gallery">
								<img src="/files/tn/{$images[i].file}" class="thumbImg" alt="{if $images[i].name}{$images[i].name}{else}{$row.name}{/if}">
							</a>
							{/section}
						</div>
						<div class="clear"></div>
					{/if}
						
					{if $files}
						<h4 class="heading">{#files#}</h4>
						<div class="downloadFiles mb-5">
						{section name=f loop=$files}
							<a href="/{#htaccess_downloadinfofile#}/{$files[f].file}/{$row.id}" target="_blank">
								<i class="fas fa-file-download"></i> {if $files[f].name}{$files[f].name}{else}{$files[f].file}{/if}
							</a>
						{/section}
						</div>
					{/if}
					
					
					
					{if $row.contactform}
						{include file="contactsform.html"}
					{/if}
			</div>
		</div>
	</div>
	<div class="grayBackgroundContainer" style="background-color: #E7F3F0">

		<div class="twoArticlesOnRow">
			<div class="container">
				<h3 class="title">Прочети още</h3>
				<div class="articleRow">
					{section name=ln loop=$latest_news}
					<article>
						<a href="{if $latest_news[ln].url}{$latest_news[ln].url}{else}{if $subMenus[sm].htaccess_url}{$latest_news[ln].htaccess_url}{else}/{#htaccess_news_article#}/{$latest_news[ln].id}{/if}{/if}">					
							<section class="imgContainer" style="background-image: url({if $latest_news[ln].pic}/files/{$latest_news[ln].pic}{else}/images/article-11.jpg{/if});">
								<span class="categoryType2">{$latest_news[ln].news_categories[0].name}</span>
							</section>
							<section class="content">
								<h3 class="articleTitle">{$latest_news[ln].name}</h3>
								<div class="excerpt">{$latest_news[ln].excerpt}</div>
								{if $latest_news[ln].author.id}
								<div class="authorInfo">
									<div class="userPic">
										{if $latest_news[ln].author.pic}<img src="/files/tntn/{$latest_news[ln].author.pic}" alt="{$latest_news[ln].author.name}">{/if}
									</div>
									<div class="userInfo">
										<span class="name">{$latest_news[ln].author.name}</span>
										<span class="date">{$latest_news[ln].news_date} {$latest_news[ln].news_categories[0].name}</span>
									</div>
								</div>
								{/if}
							</section>
						</a>
					</article>
					{/section}
				</div>
			</div>
		</div>

	</div>

	<div class="subscribeContainer">
		<div class="container">
			<h2 class="title">Абонирай се</h2>
			<span class="subtitle">Искаш да бъдеш уведомен/а за ексклузивни промоции и намаления? Въведи своя email и бъди в крак с най-добрите оферти!</span>
			<form>
				<input class="customInput" type="text" name="email" placeholder="Имейл адрес">
				<input class="submitBtn" type="submit" name="" value="Абонирай се">
			</form>
		</div>
	</div>
{include file="footer.html"}